<div class="top_navbar">
    <div class="navbar navbar-inverse">
        <div class="container-main">
            <div class="row">
                <div class="navbar-header">
                    <a class="navbar-brand" href="https://www.tigerwit.com" target="_blank">
                        <h1 class="logo-white"></h1>
                    </a>
                </div>


                <ul class="nav navbar-nav navbar-right">

                    <li>
                        <a href="">
                            进入个人中心
                        </a>
                    </li>

                    <li>
                        <a href="">
                            开通个人账户
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
