<div class="navbar navbar-inverse">
    <div class="container-main">
        <div class="row">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <h1 class="logo-gray"></h1>
                </a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="personal.subPage" ng-class="{'active':  prefix === '/personal/' || prefix === '/invest/'}">
                        个人中心
                    </a>
                </li>
                <li>
                    <a href="#/master" ng-class="{'active':  prefix === '/master/'}">
                        交易高手
                    </a>
                </li>
                <li>
                    <a href="#/guides" ng-class="{'active':  prefix === '/guides/'}">
                        新手指南
                    </a>
                </li>
                <li>
                    <a ui-sref="setting.subPage" ng-class="{'active':  prefix === '/setting/'}">
                        设置
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ng-class="{open: infoShow}" ng-mouseover="showInfo()" ng-mouseleave="hideInfo()">
                    <a class="nav_personal" href="">
                        <img class="nav_personal__photo" ng-src="ngsrc/photo-man.png" alt="**">
                        <span class="nav_personal__name">{{personal.username}}</span>
                        <i class="fa fa-sort-down"></i>
                    </a>
                    <div class="dropdown-menu nav_personal_detail">
                        <div class="nav_personal_detail__basic">
                            <div class="row">
                                <div class="col-xs-4">
                                    <img class="nav_personal_detail__photo" ng-src="ngsrc/photo-man.png" alt="**">
                                </div>
                                <div class="col-xs-8">
                                    <p class="nav_personal_detail__name">
                                        {{personal.username}}
                                    </p>
                                    <div class="nav_personal_detail__id">
                                        真实账号： {{personal.real_id}}
                                    </div>
                                    <div class="nav_personal_detail__id">
                                        模拟账号： {{personal.demo_id}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="social_counter">
                            <div class="social_counter__counter_itm">
                                <h4>{{personal.copiedTraderSum}}</h4>
                                <p>复制</p>
                            </div>
                            <div class="social_counter__counter_itm">
                                <h4>{{personal.copierSum}}</h4>
                                <p>跟随</p>
                                <span class="social_counter__divider"></span>
                            </div>
                            <div class="social_counter__counter_itm">
                                <h4>{{personal.followingSum}}</h4>
                                <p>关注</p>
                            </div>
                             <div class="social_counter__counter_itm">
                                <h4>{{personal.fanSum}}</h4>
                                <p>粉丝</p>
                                <span class="social_counter__divider"></span>
                            </div>
                        </div>
                        <div class="nav_deposit">
                            <p class="nav_deposit__number">
                                ${{realEquityInfo.equity || 0}}
                            </p>
                            <h5 class="nav_deposit__title">当前净值：</h5>
                            <p class="nav_deposit__time">
                                数据更新于
                                <span>2014/12/08 13:34</span>
                                GMT
                            </p>
                        </div>
                        <div class="money_transfer">
                            <a class="money_transfer__deposit" href="">
                                入金
                            </a>
                            <a class="money_transfer__withdraw" href="">
                                出金
                            </a>
                        </div>
                        <a class="nav_logout" href="">
                            退出
                        </a>
                    </div>
                </li>
            </ul>
            <div class="nav navbar-nav nav_split navbar-right">
              <span>|</span>
            </div>
            <ul class="nav navbar-nav navbar-right nav_mod">
                <li class="dropdown" ng-class="{open: msg_show}" ng-mouseenter="showMsg()" ng-mouseleave="hideMsg()">
                    <a class ="nav_msg">
                      <img class = "nav_msg__pic" ng-src="ngsrc/icon_mail.png">
                      <img class = "nav_msg__tip" ng-src="ngsrc/icon_mail_tip.png" ng-show="hasMsg">
                    </a>
                    <div class="dropdown-menu nav_drop_msg">
                      <ul>
                        <li class="nav_drop_msg__item" ng-click="select('user')">
                          <span>查看我的消息</span><span ng-if="user_unvisited_sum">({{user_unvisited_sum}})</span>
                        </li>
                        <li class="nav_drop_msg__item" ng-click="select('sys')">
                          <span>查看系统消息</span><span ng-if="sys_unvisited_sum">({{sys_unvisited_sum}})</span>
                        </li>
                      </ul>

                    </div>
                </li>
            </ul >
        </div>
    </div>
</div>
