<div tw-loading-img></div>
<div class="history_orders">
    <ul class="nav nav-pills" ng-show="userType.isPersonal">
        <li ng-class="{active: orderType === 'only_copy'}" ng-click="orderType === 'only_copy' || getOrders('only_copy', accountType.key)">
            <a href="">复制交易</a>
        </li>
        <li ng-class="{active: orderType === 'not_copy'}" ng-click="orderType === 'not_copy' || getOrders('not_copy', accountType.key)">
            <a href="">自主交易</a>
        </li>
        <li ng-class="{active: orderType === 'normal'}" ng-click="orderType === 'normal' || getOrders('normal', accountType.key)">
            <a href="">全部交易</a>
        </li>
    </ul>

    <div ng-if="orders.length > 0 && (orderType === 'normal' || orderType === 'not_copy')">
        <div class="list_header">
            <div class="row">
                <div class="col-xs-3">操作</div>
                <div class="col-xs-3">
                    {{orderType === 'normal'? '复制者': '持仓时间'}}
                </div>
                <div class="col-xs-2">开仓价</div>
                <div class="col-xs-2">平仓价</div>
                <div class="col-xs-2">盈亏</div>
            </div>
        </div>

        <ul>
            <li class="order_item" ng-repeat="order in orders">
                <div class="row">
                    <div class="col-xs-1 text-right">
                        <span class="icon-forex-{{order.symbol | lowercase}}"></span>
                    </div>
                    <div class="col-xs-2 order_item__operate">
                        <p>
                            <span class="order_item__exchange">
                                {{order.cmd ? '卖出' : '买入'}}
                            </span>
                            <a class="order_item__symbol" ng-href="#/class/detail/{{order.symbol}}">
                                {{order.symbol | symbolBeauty}}
                            </a>
                        </p>
                        <p>
                            <span class="order_item__way">
                                {{['手动', '止损', '止盈', '强制'][order.liquidation_type] + '平仓'}}
                            </span>
                            <span class="order_item__time">
                                {{order.bp | startNow}}前
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-3">
                        <span class="order_item__copiedTrader" ng-if="orderType === 'normal'">
                            {{order.username}}
                        </span>
                        <span class="order_item__copiedTrader" ng-if="orderType === 'not_copy'">
                            {{order.time_delta | startNow}}
                        </span>
                    </div>
                    <div class="col-xs-2 order_item__price">
                        {{order.open_price}}
                    </div>
                    <div class="col-xs-2 order_item__price">
                        {{order.close_price}}
                    </div>
                    <div class="col-xs-2 order_item__profit" ng-show="order.sum.indexOf('-') < 0">
                        ${{order.sum}}
                    </div>
                    <div class="col-xs-2 order_item__deficit" ng-show="order.sum.indexOf('-') >= 0">
                        ${{order.sum}}
                    </div>
                </div>
            </li>
        </ul>

        <p class="btn-loading" ng-show="!noMoreOrders" ng-click="getMoreOrders()" tw-loading-more>
            <span class="btn-loading__caption">
                点击加载更多...    
            </span>
            <span class="btn-loading__icon"></span>
        </p>
    </div>
    <div ng-if="orders.length <=0 && (orderType === 'normal' || orderType === 'not_copy')">
        <p class="text-center">无交易数据！</p>
    </div> 

    <div ng-if="copiedTraders.length > 0 && orderType === 'only_copy'">
        <div class="list_header">
            <div class="row">
                <div class="col-xs-3">操作</div>
                <div class="col-xs-3"></div>
                <div class="col-xs-2">开仓价</div>
                <div class="col-xs-2">平仓价</div>
                <div class="col-xs-2">盈亏</div>
            </div>
        </div>
        <ul>
            <li class="order_item bg-white" ng-repeat="copiedTrader in copiedTraders">
                <div class="row copied_trader_info">
                    <div class="col-xs-1">
                        <a ng-href="#/invest/{{copiedTrader.user_code}}/summary">
                            <img class="copied_trader_info__photo" ng-src="/avatar/{{copiedTrader.user_code}}_50.jpg" alt="**" style="width:50px;height:50px;">
                        </a>
                    </div>
                    <div class="col-xs-5 text-left">
                        <a class="copied_trader_info__name" ng-href="#/invest/{{copiedTrader.user_code}}/summary"> 
                            {{copiedTrader.username}}
                        </a>
                        <br/>
                        <p class="fold_btn" tw-fold>
                            <span class="fold_btn__close">
                                <i class="fa fa-minus"></i>折叠
                            </span>
                            <span class="fold_btn__open">
                                <i class="fa fa-plus"></i>显示全部
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-2 order_item__profit" ng-show="copiedTrader.profit_rate.indexOf('-') < 0">
                        {{copiedTrader.profit_rate}}%
                    </div>
                    <div class="col-xs-2 order_item__deficit" ng-show="copiedTrader.profit_rate.indexOf('-') >= 0">
                        {{copiedTrader.profit_rate}}%
                    </div>
                </div>
                <ul class="copy_orders">
                    <div class="copy_orders__trunk"></div>
                    <li class="order_item" ng-repeat="order in copiedTrader.data">
                        <div class="row">
                            <div class="col-xs-1">
                                <div class="copy_orders__branch"></div>
                            </div>
                            <div class="col-xs-1 text-right">
                                <span class="icon-forex-{{order.symbol.toLowerCase()}}"></span>
                            </div>
                            <div class="col-xs-2 order_item__operate">
                                <p>
                                    <span class="order_item__exchange">
                                        {{order.cmd ? '卖出' : '买入'}}
                                    </span>
                                    <a class="order_item__symbol" href="">
                                        {{order.symbol | symbolBeauty}}
                                    </a>
                                </p>
                                <p>
                                    <span class="order_item__way">
                                        {{['手动', '止损', '止盈', '强制'][order.liquidation_type] + '平仓'}}
                                    </span>
                                    <span class="order_item__time">
                                        {{order.bp | startNow}}前
                                    </span>
                                </p>
                            </div>
                            <div class="col-xs-2"></div>
                            <div class="col-xs-2 order_item__price">
                                {{order.open_price}}
                            </div>
                            <div class="col-xs-2 order_item__price">
                                {{order.close_price}}
                            </div>
                            <div class="col-xs-2 order_item__profit" ng-show="order.sum.indexOf('-') < 0">
                                ${{order.sum}}
                            </div>
                            <div class="col-xs-2 order_item__deficit" ng-show="order.sum.indexOf('-') >= 0">
                                ${{order.sum}}
                            </div>
                        </div>
                    </li>
                    <p class="btn-loading" ng-show="copiedTrader.more" ng-click="getAllCopyOrders(copiedTrader, copiedTrader.user_code)" tw-loading-more>
                        <span class="btn-loading__caption">
                            点击加载所有复制订单...    
                        </span>
                        <span class="btn-loading__icon"></span>
                    </p>
                </ul>
            </li>
        </ul>
        <p class="btn-loading" ng-show="!noMoreOrders" ng-click="getMoreOrders()" tw-loading-more>
            <span class="btn-loading__caption">
                点击加载更多复制者...    
            </span>
            <span class="btn-loading__icon"></span>
        </p>
    </div>
    <div ng-if="copiedTraders.length <= 0 && orderType === 'only_copy'">
        <p class="text-center marketing-text">无数据！</p>
    </div>
</div>
