<div tw-loading-img></div>
<div class="history_orders">
    <ul class="nav nav-pills">
        <li ng-class="{active: orderType === 'only_copy'}" ng-click="switchOrderType('only_copy')">
            <a href="">复制交易</a>
        </li>
        <li ng-class="{active: orderType === 'not_copy'}" ng-click="switchOrderType('not_copy')">
            <a href="">自主交易</a>
        </li>
        <li ng-class="{active: orderType === 'normal'}" ng-click="switchOrderType('normal')">
            <a href="">全部交易</a>
        </li>
    </ul>

    <div ng-if="orders.length > 0">
        <div class="history_orders__header">
            <div class="row">
                <div class="col-xs-3">操作</div>
                <div class="col-xs-3">复制者</div>
                <div class="col-xs-2">开仓价</div>
                <div class="col-xs-2">平仓价</div>
                <div class="col-xs-2">盈亏</div>
            </div>
        </div>
        <ul class="history_orders__pnl">
            <li ng-repeat="order in orders">
                <div class="row">
                    <div class="col-xs-1">
                        <span class="icon-forex-{{order.symbol.toLowerCase()}}"></span>
                    </div>
                    <div class="col-xs-2 history_orders__operate">
                        <p>
                            <span class="history_orders__exchange">
                                {{order.cmd ? '卖出' : '买入'}}
                            </span>
                            <span class="history_orders__symbol">
                                {{order.symbol | symbolBeauty}}
                            </span>
                        </p>
                        <p>
                            <span class="history_orders__way">
                                {{['手动', '止损', '止盈', '强制'][order.liquidation_type] + '平仓'}}
                            </span>
                            <span class="history_orders__time">
                                {{order.bp | startNow}}前
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-3">
                        <span class="history_orders__duplicator">
                            {{order.username}}
                        </span>
                    </div>
                    <div class="col-xs-2 history_orders__price">{{order.open_price}}</div>
                    <div class="col-xs-2 history_orders__price">{{order.close_price}}</div>
                    <div class="col-xs-2 history_orders__profit" ng-show="order.sum.indexOf('-') < 0">
                        {{order.sum}}
                    </div>
                    <div class="col-xs-2 history_orders__deficit" ng-show="order.sum.indexOf('-') >= 0">
                        {{order.sum}}
                    </div>
                </div>
            </li>
        </ul>

        <a class="btn-loading" href="" ng-show="!noMoreOrders" ng-click="getMoreOrders()">
            <span class="btn-loading__caption">
                点击加载更多...    
            </span>
            <span class="btn-loading__icon"></span>
        </a>
    </div>
    <div ng-if="orders.length <= 0">
        <p class="text-center marketing-text">您暂时没有交易历史，赶快去交易一笔试试！</p>
    </div>
</div>
