<div class="real_demo">
    <div class="row">
        <div class="col-xs-9">
            <h3 class="real_demo__name">{{personal.username}}</h3>
            <p>
                今天没有被逼出来的只有两类人：一类是来不及跑的韭菜，另一类是经验丰富的老江湖。
            </p>
        </div>
        <div class="col-xs-3" ng-show="personal.real_id && accountType.visible">
            <div class="real_demo__switch" ng-class="{real: accountType.key === 'real', demo: accountType.key === 'demo'}" ng-click="switchAccount()">
                {{accountType.value}}账户数据
            </div>
            <p class="real_demo__switch_tip" ng-show="accountType.key === 'demo'">
                点击切换到真实账户
            </p>
            <p class="real_demo__switch_tip" ng-show="accountType.key === 'real'">
                点击切换到虚拟账户
            </p>
        </div>
        <div class="col-xs-3" ng-show="!personal.real_id && accountType.visible">
            <div class="real_demo__switch demo">
                模拟账户数据
            </div>
        </div>


    </div>
</div>
<ul class="invest_tab nav nav-tabs">
    <li class="invest_tab__item" ng-class="{active: childState === 'summary'}">
        <a ng-href="#/invest/summary/?touchCode={{touchCode}}" >
           <i class="invest_tab__icon invest_tab__icon-summary"></i>
           概况
        </a>
    </li>
    <li class="invest_tab__item" ng-class="{active: childState === 'statistics'}">
        <a  ng-href="#/invest/statistics">
           <i class="invest_tab__icon invest_tab__icon-statistics"></i>
           数据统计
        </a>
    </li>
    <li class="invest_tab__item" ng-class="{active: childState === 'history'}">
        <a  ng-href="#/invest/history">
           <i class="invest_tab__icon invest_tab__icon-history"></i>
           交易历史
        </a>
    </li>
    <li class="invest_tab__item" ng-class="{active: childState === 'relationship'}">
        <a  ng-href="#/invest/relationship">
           <i class="invest_tab__icon invest_tab__icon-relationship"></i>
           关系
        </a>
    </li>
</ul>
<div class="invest_tab_content" ui-view>
</div>
