<div tw-loading-img></div>
<div class="relationship_ctn">
    <span class="relationship_ctn__tip" ng-show="relationType === 'copiedTrader'">
        目前共复制了 {{investorSum}} 名高手
    </span>
    <span class="relationship_ctn__tip" ng-show="relationType === 'copier'">
        目前共 {{investorSum}} 名投资者复制我的订单
    </span>
    <span class="relationship_ctn__tip" ng-show="relationType === 'following'">
        目前共关注了 {{investorSum}} 名投资者
    </span>
    <span class="relationship_ctn__tip" ng-show="relationType === 'fan'">
        目前共 {{investorSum}} 名投资者关注我
    </span>
    
    <ul class="nav nav-pills">
        <li  ng-class="{active: relationType === 'fan'}" ng-click="relationType === 'fan' || getInvestors('fan')">
            <a href="">粉丝</a>
        </li>
        <li ng-class="{active: relationType === 'following'}" ng-click="getInvestors('following')">
            <a href="">关注</a>
        </li>
        <li ng-class="{active: relationType === 'copier'}" ng-click="relationType === 'copier' || getInvestors('copier')">
            <a href="">跟随</a>
        </li>
        <li ng-class="{active: relationType === 'copiedTrader'}" ng-click="relationType === 'copiedTrader' || getInvestors('copiedTrader')">
            <a href="">复制</a>
        </li>
    </ul>

    <div ng-if="investors.length > 0">
        <div class="list_header">
            <div class="row">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-2">跟随</div>
                <div class="col-xs-2">粉丝</div>
                <div class="col-xs-2">7 天盈利</div>
            </div>
        </div>

        <ul class="relationship_ctn__investors">
            <li class="investor" ng-repeat="investor in investors">
                <div class="row">
                    <div class="col-xs-1">
                        <img class="investor__photo" src="ngsrc/photo-man.png" alt="**">
                    </div>
                    <div class="col-xs-3 investor__info">
                        <p class="investor__name">
                            {{investor.userName}}
                        </p>
                        <p class="investor__location">
                            中国，北京，朝阳区
                        </p>
                    </div>
                    <div class="col-xs-2"></div>
                    <div class="col-xs-2 investor__number">
                        {{investor.copierSum}}
                    </div>
                    <div class="col-xs-2 investor__number">
                        {{investor.fanSum}}
                    </div>
                    <div class="col-xs-2 investor__profit" ng-show="investor.rate.indexOf('-') < 0">
                        {{investor.rate}}%
                    </div>
                    <div class="col-xs-2 investor__deficit" ng-show="investor.rate.indexOf('-') >= 0">
                        {{investor.rate}}%
                    </div>
                </div>
            </li>
        </ul>
        <p class="btn-loading" ng-show="!noMoreInvestors" ng-click="getMoreInvestors()" tw-loading-more>
            <span class="btn-loading__caption">点击加载更多...</span>
            <span class="btn-loading__icon"></span>
        </p>
    </div>

    <div ng-if="investors.length <= 0">
        <p class="text-center marketing-text">无数据！</p>
    </div>
</div>