<div tw-loading-img></div>
<div class="relationship_ctn">
    <span class="relationship_ctn__tip" ng-show="relationType === 'copiedTrader'">
        目前共复制了 {{investorSum}} 名高手
    </span>
    <span class="relationship_ctn__tip" ng-show="relationType === 'copier'">
        目前共有 {{investorSum}} 名跟随者
    </span>
    <span class="relationship_ctn__tip" ng-show="relationType === 'following'">
        目前共关注了 {{investorSum}} 名投资者
    </span>
    <span class="relationship_ctn__tip" ng-show="relationType === 'fan'">
        目前共有 {{investorSum}} 名粉丝
    </span>
    
    <ul class="nav nav-pills">
        <li ng-class="{active: relationType === 'fan'}">
            <a ng-href="#/invest/{{userType.code}}/relationship?type=fan">粉丝</a>
        </li>
        <li ng-class="{active: relationType === 'following'}" ng-show="userType.isPersonal">
            <a ng-href="#/invest/{{userType.code}}/relationship?type=following">关注</a>
        </li>
        <li ng-class="{active: relationType === 'copier'}">
            <a ng-href="#/invest/{{userType.code}}/relationship?type=copier">跟随</a>
        </li>
        <li ng-class="{active: relationType === 'copiedTrader'}" ng-show="userType.isPersonal">
            <a ng-href="#/invest/{{userType.code}}/relationship?type=copiedTrader">复制</a>
        </li>
    </ul>

    <div ng-if="investors.length > 0">
        <div class="list_header">
            <div class="row">
                <div class="col-xs-6">
                </div>
                <div class="col-xs-2">跟随</div>
                <div class="col-xs-2">粉丝</div>
                <div class="col-xs-2">7 天盈利</div>
            </div>
        </div>

        <ul class="relationship_ctn__investors">
            <li class="investor" ng-repeat="investor in investors">
                <div class="row">
                    <div class="col-xs-1">
                        <a target="_blank" ng-href="#/invest/{{investor.userCode}}/summary">
                            <img class="investor__photo" ng-src="{{investor.smAvatar}}" alt="**">
                        </a>
                    </div>
                    <div class="col-xs-5 investor__info">
                        <a class="investor__name" target="_blank" ng-href="#/invest/{{investor.userCode}}/summary">
                            {{investor.username}}
                        </a>
                        <p class="investor__location">
                            {{investor.location.world_name}}
                            {{investor.location.state_name}}
                            {{investor.location.city_name}}
                        </p>
                    </div>
                    <div class="col-xs-2 investor__number">
                        {{investor.copierSum}}
                    </div>
                    <div class="col-xs-2 investor__number">
                        {{investor.fanSum}}
                    </div>
                    <div class="col-xs-2 investor__profit" ng-show="investor.rate.indexOf('-') < 0">
                        {{investor.rate}}%
                    </div>
                    <div class="col-xs-2 investor__deficit" ng-show="investor.rate.indexOf('-') >= 0">
                        {{investor.rate}}%
                    </div>
                </div>
            </li>
        </ul>
        <p class="btn-loading" ng-show="!noMoreInvestors" ng-click="getMoreInvestors()" tw-loading-more>
            <span class="btn-loading__caption">点击加载更多...</span>
            <span class="btn-loading__icon"></span>
        </p>
    </div>

    <div ng-if="investors.length <= 0">
        <p class="text-center marketing-text">无数据！</p>
    </div>
</div>