<div tw-loading-img></div>
<div class="line_chart_pnl">
		<div ng-show="userType.isPersonal">
	    <div class="line_chart_dropdown"  tw-dropdown>
	        <button class="line_chart_dropdown__btn" ng-click="toggleDropdown()" >
	            {{period.valShow}}
	            <i class="caret"></i>
	        </button>
	        <ul class="line_chart_dropdown__menu" ng-class="{'show': dropdownShow}">
	            <li>
	                <a href="" ng-click="paintChart(7, '近 1 周内')" ng-class="{'active':  period.valShow === '近 1 周内'}">
	                    近 1 周内
	                </a>
	            </li>
	            <li>
	                <a href="" ng-click="paintChart(30, '近 1 个月内')" ng-class="{'active':  period.valShow === '近 1 个月内'}">
	                    近 1 个月内
	                </a>
	            </li>
	            <li> 
	                <a href="" ng-click="paintChart(90, '近 3 个月内')" ng-class="{'active':  period.valShow === '近 3 个月内'}">
	                    近 3 个月内
	                </a>
	            </li>
	            <li>
	                <a href="" ng-click="paintChart(180, '近 6 个月内')" ng-class="{'active':  period.valShow === '近 6 个月内'}">
	                    近 6 个月内
	                </a>
	            </li>
	            <li>
	                <a href="" ng-click="paintChart(360, '近 1 年内')" ng-class="{'active':  period.valShow === '近 1 年内'}">
	                    近 1 年内
	                </a>
	            </li>
	        </ul>
	    </div>
    </div>
    <h4 class="line_chart_pnl__title">
        {{period.valShow}}的资产变化曲线
    </h4>
    
    <div class="line_chart_pnl__chart">
        <div tw-line-chart chart-type="0"></div>  
    </div>
</div>

<div class="trade_summary">
    <div class="trade_summary__h_divider"></div>
    <div class="row">
        <div class="trade_summary__panel col-xs-4">
            <h4>盈利率</h4>
            <p class="trade_summary__percent-profit" ng-if="summary.total_profit_rate.indexOf('-') < 0">
                +{{summary.total_profit_rate}}
            </p>
            <p class="trade_summary__percent-deficit" ng-if="summary.total_profit_rate.indexOf('-') >= 0">
                {{summary.total_profit_rate}}
            </p>
            <p class="trade_summary__tips">
                用户的盈利幅度
            </p>
        </div>
        <div class="trade_summary__panel col-xs-4">
            <div class="trade_summary__v_divider"></div>
            <h4>交易手数</h4>
            <p class="trade_summary__amount">
                {{summary.total_volume}}
            </p>
            <p class="trade_summary__tips">
                已平仓交易的交易手数
            </p>
        </div>
         <div class="trade_summary__panel col-xs-4">
            <div class="trade_summary__v_divider"></div>
            <h4>获利点数</h4>
            <p class="trade_summary__number">
                {{summary.total_pips}}
            </p>
            <p class="trade_summary__tips">
                以标准手计算
            </p>
        </div>
    </div>
    <div class="trade_summary__h_divider"></div>
</div>

<div class="trade_data">
    <h3 class="trade_data__title">
        共 {{summary.order_count}} 单平仓交易
    </h3>
    <p class="trade_data__tips">
        采样于{{period.valShow}}的交易数据
    </p>

    <div class="row"> 
        <div class="col-xs-6" >
            <div class="row">
                <div class="trade_data__chart col-xs-6">
                    <div id="donut_chart_profit" tw-donut-chart></div>
                </div>
                <div class="trade_data__chart_intro col-xs-6">
                    <h2>{{summary.profit_rate}}%</h2>
                    <p>盈利订单</p>
                </div>
            </div>
        </div>

        <div class="col-xs-1">其中</div>
        
        <div class="trade_data__detail col-xs-5">
            <p class="trade_data__profit">
                最大收益
                <span>+{{summary.max_profit}}%</span>
            </p>
            <p class="trade_data__profit">
                平均收益
                <span>+{{summary.avg_profit}}%</span>
            </p>
            <p class="trade_data__profit">
                最小收益
                <span>+{{summary.min_profit}}%</span>
            </p>
        </div>
    </div>

    <div class="row mg-tp-30"> 
        <div class="col-xs-6" >
            <div class="row">
                <div class="trade_data__chart col-xs-6">
                    <div id="donut_chart_deficit" tw-donut-chart></div>
                </div>
                <div class="trade_data__chart_intro col-xs-6">
                    <h2>{{summary.deficit_rate}}%</h2>
                    <p>亏损订单</p>
                </div>
            </div>
        </div>
        <div class="col-xs-1">其中</div>
        <div class="trade_data__detail col-xs-5">
            <p class="trade_data__deficit">
                最大亏损
                <span>{{summary.max_deficit}}%</span>
            </p>
            <p class="trade_data__deficit">
                平均亏损
                <span>{{summary.avg_deficit}}%</span>
            </p>
            <p class="trade_data__deficit">
                最小亏损
                <span>{{summary.min_deficit}}%</span>
            </p>
        </div>
    </div>
</div>