<div class="profile">
    <div class = "profile__head">
        <p class = "profile__head__title" >上周的投资统计</p>
        <hr/>
    </div>
    <div class="profile__context">
        <div class = "profile__one">
          <span class="profile__one__name">盈利率</span>
          <span class= "profile__one__yl">+60%</span>
        </div>

        <div class = "profile__one">
          <span class="profile__one__name">胜率</span>
          <span class= "profile__one__sl">+90%</span>
        </div>

        <div class = "profile__one">
          <span class="profile__one__name">最牛交易</span>
          <span class= "profile__one__zn">+300%</span>
        </div>

        <div class = "profile__one">
          <span class="profile__one__name">最差交易</span>
          <span class= "profile__one__zc">-50%</span>
        </div>

        <p class="profile__ptime">数据更新于 2014/12/08 00:00 GMT</p>

    </div>
    <div>
      <hr/>
    </div>

</div>
