<div class="profile">
    <div class = "profile_head">
        <p class = "profile_head__title" >上周的投资统计</p>
        <hr/>
    </div>
    <div>
        <div class = "profile-one">
            <span class="profile-one__name">盈利率</span>
            <span class= "profile-one__yl">+{{total_profit_rate}}%</span>
        </div>

        <div class = "profile-one">
            <span class="profile-one__name">胜率</span>
            <span class= "profile-one__sl">+{{profit_rate}}%</span>
        </div>

        <div class = "profile-one">
            <span class="profile-one__name">最牛交易</span>
            <span class= "profile-one__zn">+{{max_profit}}%</span>
        </div>

        <div class = "profile-one">
            <span class="profile-one__name">最差交易</span>
            <span class= "profile-one__zc">-{{max_deficit}}%</span>
        </div>

        <p class="profile__ptime">数据更新于 2014/12/08 00:00 GMT</p>

    </div>
    <div>
      <hr/>
    </div>

</div>
