<div class="master_content">

    <div class="master_content_head">
        <h3 class="">最近 1 周的投资排行榜</h3>
        <span class="">更新时间：2015-03-04 12:00 GMT</span>
    </div>

    <div class="master_content_data">
         <table class="table table-striped" >
              <thead>
                  <tr>
                      <th>用户</th>
                      <th>复制者</th>
                      <th>交易单数</th>
                      <th>获利点数</th>
                      <th class="master_ranking_greem">盈利率<span class="caret"></span></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>
                          <div class="ranking_user">
                              <img src="/ngsrc/photo-woman.png"></img>
                              <div class="ranking_user_info">
                                  <p class="ranking_user_info__name">KASHY07</p>
                                  <p class="ranking_user_info__addr">北京,朝阳</p>
                              </div>
                          </div>
                      </td>
                      <td>
                          128
                      </td>
                      <td>
                          34
                      </td>
                      <td>
                          34.7
                      </td>
                      <td class="master_ranking_border">
                          +219.64%
                      </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="ranking_user">
                        <img src="/ngsrc/photo-woman.png"></img>
                        <div class="ranking_user_info">
                          <p class="ranking_user_info__name">KASHY07</p>
                          <p class="ranking_user_info__addr">北京,朝阳</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      128
                    </td>
                    <td>
                      34
                    </td>
                    <td>
                      34.7
                    </td>
                    <td class="master_ranking_border">
                      +219.64%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="ranking_user">
                        <img src="/ngsrc/photo-woman.png"></img>
                        <div class="ranking_user_info">
                          <p class="ranking_user_info__name">KASHY07</p>
                          <p class="ranking_user_info__addr">北京,朝阳</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      128
                    </td>
                    <td>
                      34
                    </td>
                    <td>
                      34.7
                    </td>
                    <td class="master_ranking_border">
                      +219.64%
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="ranking_user">
                        <img src="/ngsrc/photo-woman.png"></img>
                        <div class="ranking_user_info">
                          <p class="ranking_user_info__name">KASHY07</p>
                          <p class="ranking_user_info__addr">北京,朝阳</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      128
                    </td>
                    <td>
                      34
                    </td>
                    <td>
                      34.7
                    </td>
                    <td class="master_ranking_border">
                      +219.64%
                    </td>
                  </tr>
              </tbody>

         </table>



    </div>
</div>
