<div class="table_content">

    <div class="head">
        <div class="table_content_head">
            <h3 class="">{{head_title}}的投资排行榜</h3>
            <span class="">更新时间：{{data.timestamp|dateFormatter}} GMT</span>
        </div>
        <div class="head_drop_menu head_menu dropdown" ng-class="{open:showDropdown}" ng-mouseover="showMenu()" ng-mouseleave="backMenu()">
            <button class="head_menu__btn">{{head_title}}
              <span class="caret"></span>
            </button>
            <ul  class="dropdown-menu" >
                <li class="border_bottom">
                  <a ng-click="getMasterList(7)">最近 1 周</a>
                </li>
                <li class="border_bottom">
                  <a ng-click="getMasterList(30)">最近 1 月</a>
                </li>
                <li>
                  <a ng-click="getMasterList('90')">最近 3 月</a>
                </li>
                <li>
                  <a ng-click="getMasterList('180')">最近 6 月</a>
                </li>
                <li>
                  <a ng-click="getMasterList('360')">最近 1 年</a>
                </li>
            </ul>
         </div>

    </div>

    <div class="table_content_data">
         <table class="table table-striped" >
              <thead>
                  <tr>
                      <th>用户</th>
                      <th>复制者</th>
                      <th>交易单数</th>
                      <th>获利点数</th>
                      <th class="table_column_greem">盈利率<span class="caret"></span></th>
                  </tr>
              </thead>
              <tbody>
                  <tr ng-repeat="item in data.data">
                      <td>
                          <div class="ranking_user">
                              <img src="/avatar/{{item.user_code}}_50.jpg"></img>
                              <div class="ranking_user_info">
                                  <p class="ranking_user_info__name">{{item.username}}</p>
                                  <p class="ranking_user_info__addr">{{item.region_cn.city_name}},{{item.region_cn.state_name}}</p>
                              </div>
                          </div>
                      </td>
                      <td>
                         {{item.user_code}}
                      </td>
                      <td>
                          {{item.total_orders}}
                      </td>
                      <td>
                          {{item.total_pips}}
                      </td>
                      <td class="table_greem_border">
                         {{item.profit_rate}}
                      </td>
                  </tr>
              </tbody>

         </table>
        <div class="btn-loading mg-loading" ng-click="loadMore()" tw-loading-more>
                    <span class="btn-loading__caption">
                        点击加载更多...
                    </span>
          <span class="btn-loading__icon"></span>
        </div>
    </div>
</div>
