.icon-forex {
    display: inline-block;
    width: 52px;
    height: 40px;
    vertical-align: middle;
    background-position: 50%;
}
@each $name in $forex-names {

    .icon-forex-#{$name} {

        @extend .icon-forex;
        @include img-retina($forex_icon_path + "#{$name}.png", $forex_icon_path + "#{$name}@2x.png", 52px, 40px);
    }

    .icon-forex-large-#{$name} {
        @extend .icon-forex;
        width: 148px;
        height: 105px;
        @include img-retina($forex_icon_path + "#{$name}_large.png", $forex_icon_path + "#{$name}_large@2x.png", 148px, 105px)
    }

    .icon-forex-simple-#{$name} {
        width: 118px;
        height: 76px;
        @extend .icon-forex;
        @include img-retina($forex_icon_path + "#{$name}_large.png", $forex_icon_path + "#{$name}_large@2x.png", 118px, 76px)
    }

}

.icon-flag {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 13px;
    background-position: 50%;
}
@each $name in $flag-names {

    .icon-flag-#{$name} {
        
        @extend .icon-flag;
        @include img-retina($flag_icon_path + "#{$name}.png", $flag_icon_path + "#{$name}@2x.png", 22px, 13px);
    }    
}