//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}

.logo{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 207px;
    height: 34px;
    @include img-retina($image_path + "logo.png", $image_path + "logo@2x.png", 207px, 34px)
}
.logo-white {
    @extend .logo;
    width: 140px;
    height: 40px;
    @include img-normal($image_path + "logo-white.png");
}

.color-danger {
    color: $brand-danger;
}

.color-info {
    color: $brand-info;
}

.mg-0 {
    margin: 0 !important;
}

.mg-tp-15 {
    margin-top: 15px;
}

.mg-tp-30 {
    margin-top: 30px;
}

.mg-tp-50 {
    margin-top: 50px;
}

.mg-bt-15 {
    margin-bottom: 15px;
}

.mg-lf-30 {
    margin-left: 30px;
}

.mg-rg-30 {
    margin-right: 30px;
}

.pd-0 {
    padding: 0;
}

.pd-lf-rg-40 {
    padding-left: 40px;
    padding-right: 40px; 
}

.pd-tp-15 {
    padding-top: 15px;
}

.pd-tp-20 {
    padding-top: 20px;
}

.pd-bt-20 {
    padding-bottom: 20px;
}


.pd-lf-0 {
    padding-left: 0 !important;
}

.pd-lf-15 {
    padding-left: 15px !important;
}

.pd-rg-0 {
    padding-right: 0 !important;
}

.pd-rg-15 {
    padding-right: 15px !important;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    &:hover,
    &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }
}

.bg-white {
    background-color: #fff !important;
}