  <div class="msg_head">
      <h3 class="msg_head__title">系统消息</h3>
      <span class="msg_head__sum">您有2条未读信息</span>
  </div>
  <hr/>
  <div class="msg_main">
      <img ng-src="ngsrc/u61.png" class="msg_main__icon">
      <div class="msg_main_content">
          <span class="msg_main_content__tip">[新消息]</span>
          <span class="msg_main_content__de">亲爱的用户，你已成功入金 $500.00。 请在交易页并切换到真实帐户，或登录MT4终端查看你的入金情况。Formax衷心祝福你取得辉煌的投资胜绩。</span>
          <div class="msg_other">
              <span class="msg_other__ctime">2014-12-12</span>
              <a class="msg_other__del">删除</a>
          </div>
      </div>
  </div>

  <div class="msg_main">
    <img ng-src="ngsrc/u61.png" class="msg_main__icon">
    <div class="msg_main_content">
      <span class="msg_main_content__tip">[新消息]</span>
      <span class="msg_main_content__de">亲爱的用户，你已成功入金 $500.00。 请在交易页并切换到真实帐户，或登录MT4终端查看你的入金情况。Formax衷心祝福你取得辉煌的投资胜绩。</span>
      <div class="msg_other">
        <span class="msg_other__ctime">2014-12-12</span>
        <a class="msg_other__del">删除</a>
      </div>
    </div>
  </div>
