@include b(account_ctn) {
    min-height: 400px;
    padding: 30px;
    border: 1px solid $brand-border;
    background-color: #fff;

    .btn-primary,
    .btn-danger {
        width: 100% !important;
        line-height: 20px;
        font-size: 16px;
        font-weight: 700;
    }

    @include e(title) {
        margin-top: 0;
        margin-bottom: 50px;
        padding: 0 20px 15px;
        border-bottom: 1px solid $brand-border;
        font-size: 20px;
        font-weight: 700;

        span {
            font-size: 16px;
            color: $gray-light;
        }
    }

    @include e(tip) {
        margin-top: 15px;
        margin-bottom: 40px;
        color: $brand-danger;
    }

    @include e(step) {
        float: right;
        margin: 10px 20px 0 0;
    }
}

@include b(progress_bar) {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 10px;
    @include img-normal($progress_bar_path + "line.png");
    background-repeat: no-repeat;
    background-position: 50%;
}