.account_ctn {

    .account_register {
        padding: 0 80px;
    }
}

@include b(account_register) {
    $account_register: &;

    .modal-header {
        border-bottom: none;
    }
    .modal-body {
        label {
            font-size: 16px;
            color: $gray-light;
        }
    }
    .modal-footer {
        padding-top: 0;
        border-top: none;
        text-align: center;
    }
    .btn-primary {
        font-size: 16px;
        font-weight: 700;
        padding: 8px 50px;
        
    }

    .alert {
        padding: 5px;
        margin: 5px 0;
    }

    @include e(step_tip) {
        float: right;
        margin: 10px 30px;
    }

    @include e(photo_logo) {
        width: 200px;
        height: 180px;
        margin: 0 auto;
        @include img-normal($account_path + "photo.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }

    @include e(quest_logo) {
        width: 150px;
        height: 160px;
        margin: 0 auto;
        @include img-normal($account_path + "quest.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }

    @include e(finish_logo) {
        width: 150px;
        height: 160px;
        margin: 0 auto;
        @include img-normal($account_path + "finish.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }
    
    @include e(tip) {
        margin-top: 30px;

        h4 {
            font-size: 16px;
            font-weight: 700;
            color: $gray-light;
        }

        @include e(warning, $account_register) {
            margin-top: 20px;
            font-size: 16px;
            color: $brand-red;
        }
    }

    @include e(size) {
        margin-top: 30px;
    }
}

@include b(upload_form) {
    @include e(front) {
        display: inline-block;
        width: 250px;
        height: 150px;
        @include background_url('id_card-front.png');
    }

    @include e(back) {
        display: inline-block;
        width: 250px;
        height: 150px;
        @include background_url('id_card-back.png');
    }

    @include e(image) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @include e(tip) {
        width: 250px;
        margin: 0 auto;
    }
}