.form_row {

    .checkbox {
        
        label {
            line-height: 1.5;
        }

        a {
            font-weight: 700;
            color: $brand-primary;
        }    
    }
}

@include b(register_demo) {

    .btn-danger {
        width: 70%;
    }  

    @include e(logo) {
        display: block;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        @include img-normal($account_path + "register_demo.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }

    @include e(title) {
        font-weight: 700;
    }

    @include e(tip) {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    @include e(register_real) {
        float: right;
        margin: 15px 50px 0 0;
        font-size: 15px;
        font-weight: 700;
        color: $brand-primary;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

}
