.account_ctn {

    .account_register {
        padding: 0 80px;
    }
}

@include b(account_register) {
    $account_register: &;

    .modal-header {
        border-bottom: none;
    }
    
    .modal-body {
        label {
            font-size: 16px;
            color: $gray-light;
        }
    }
    
    .modal-footer {
        padding-top: 0;
        border-top: none;
        text-align: center;
    }
    
    .btn-primary {
        font-size: 16px;
        font-weight: 700;
        padding: 8px 50px;
        
        &[disabled] {
            border-color: darken($gray-light, 10%);
            background-color: $gray-light;
        }
    }

    .alert {
        padding: 5px;
        margin: 5px 0;
    }

    @include e(step_tip) {
        float: right;
        margin: 10px 30px;
    }

    @include e(photo_logo) {
        width: 142px;
        height: 127px;
        margin: 0 auto;
        @include img-normal($account_path + "photo.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }

    @include e(quest_logo) {
        width: 150px;
        height: 160px;
        margin: 0 auto;
        @include img-normal($account_path + "quest.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }

    @include e(finish_logo) {
        width: 150px;
        height: 160px;
        margin: 0 auto;
        @include img-normal($account_path + "finish.png");
        background-repeat: no-repeat;
        background-position: 50%;
    }
    
    @include e(tip) {
        margin-top: 15px;

        h4 {
            font-size: 16px;
            font-weight: 700;
            color: $gray-light;
        }

        h5 {
            line-height: 1.4;
            font-size: 16px;
        }

        @include e(warning, $account_register) {
            margin-top: 20px;
            font-size: 16px;
            color: $brand-red;
        }
    }

    @include e(size) {
        margin-top: 30px;
    }
}

@include b(upload_image) {
    
    @include e(front) {
        position: relative;
        display: block;
        width: 240px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        @include img-normal($image_path + "id_card-front.png");
        overflow: hidden;
    }

    @include e(back) {
        @extend .upload_image__front;
        @include img-normal($image_path + "id_card-back.png");
    }

    @include e(input) {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        font-size: 200px;
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
        cursor: pointer;
    }

    @include e(image) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @include e(tip) {
        width: 240px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}