<div>
    <div  class="class_center_title">

        <p>EUR/USD</p>
        <p>欧元/美元</p>

    </div>

    <div class="class_center_line">
        <div class="line_chart_dropdown"  tw-dropdown>
            <button class="line_chart_dropdown__btn" ng-click="toggleDropdown()" >
                {{forex.period.valShow}}
                <i class="caret"></i>
            </button>
            <ul class="line_chart_dropdown__menu" ng-class="{'show': dropdownShow}">
                <li>
                    <a href="" ng-click="paintChart(7, '近 1 周内')" ng-class="{'active':  forex.period.valShow === '近 1 周内'}">
                        近 1 周内
                    </a>
                </li>
                <li>
                    <a href="" ng-click="paintChart(30, '近 1 个月内')" ng-class="{'active':  forex.period.valShow === '近 1 个月内'}">
                        近 1 个月内
                    </a>
                </li>
                <li> 
                    <a href="" ng-click="paintChart(90, '近 3 个月内')" ng-class="{'active':  forex.period.valShow === '近 3 个月内'}">
                        近 3 个月内
                    </a>
                </li>
                <li>
                    <a href="" ng-click="paintChart(180, '近 6 个月内')" ng-class="{'active':  forex.period.valShow === '近 6 个月内'}">
                        近 6 个月内
                    </a>
                </li>
                <li>
                    <a href="" ng-click="paintChart(360, '近 1 年内')" ng-class="{'active':  forex.period.valShow === '近 1 年内'}">
                        近 1 年内
                    </a>
                </li>
            </ul>
        </div>
        <h3>
            {{forex.period.valShow}}的价格变化曲线
        </h3>
        <div tw-line-chart></div>  
    </div>
    
    <div class="class_center_communicate">

    </div>

</div>
