<div>
    <div class="class_up">
        <img class="class_forex_icon" ng-src="images/forex_icon/eurusd@2x.png">
        <p class="class_up__sysbol">
          EUR/USD
        </p>
        <p class="class_up__name">
          欧元美元
        </p>

    </div>
    <div class="class_center">
        <div>
            <span class="class_center__action">卖出:</span><span class="class_center__action-price">1.22625</span>
        </div>
        <div>
            <span class="class_center__action">买入:</span><span class="class_center__action-price">1.22645</span>
        </div>
        <p>
          更新时间:2014/12/24 12:23 GMT
        </p>
    </div>
    <div class="class_down">
        <h4>热门投资者</h4>

        <div class="">

        </div>


    </div>
</div>
