<div class="table_content">

  <div class="table_content_head">
    <h3>CFD</h3>
    <span >更新时间：{{mData.timestamp | dateFormatter}} GMT</span>
  </div>
  <div class="table_content_data">
      <table class="table table-striped" >
          <thead>
          <tr>
              <th>交易品种</th>
              <th>卖出价</th>
              <th>买入价</th>
              <th class="table_column_greem">热度<span class="caret"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in mData.data">
              <td>
                <div class="cfd_basic">
                  <img class="icon-forex-{{item.symbol.toLowerCase()}}">
                  <div class="class_basic_info">
                    <p class="class_basic_info__name">{{item.symbol | symbolBeauty}}</p>
                    <p class="class_basic_info__addr">{{item.symbol | symbolToCn}}</p>
                  </div>
                </div>
            </td>
            <td>
              {{item.ask}}
            </td>
            <td>
              {{item.bid}}
            </td>

            <td class="table_greem_border">
              {{item.rate}}%
            </td>
          </tr>
          </tbody>

      </table>
  </div>

</div>
