<div class="layout-2" ng-attr-id="{{moduleId}}">
    <div class="hd" ui-view="hd" >
    </div>
    <div class="bd_col_2">
        <div class="row" ng-controller="ClassDetailController">
            <div class="bd_col_2__sidebar-200" ui-view="lsider">
            </div>
            <div class="bd_col_2__content-750 content">
                <div class="class_detail_layout_center" ui-view="content">
                </div>
                <div class="class_detail_layout_sider"  ui-view="rsider">
                </div>
            </div>
        </div>
    </div>
    <div class="ft" ui-view="ft">
    </div>
</div>
