<div>
    <div class="class_up">
        <img class="class_forex_icon" ng-src="images/forex_icon/eurusd@2x.png">
        <p class="class_up__sysbol">
          EUR/USD
        </p>
        <p class="class_up__name">
          欧元美元
        </p>

    </div>
    <div class="class_middle">
        <div>
            <span class="class_middle__action">卖出:</span><span class="class_middle__action-price">1.22625</span>
        </div>
        <div>
            <span class="class_middle__action">买入:</span><span class="class_middle__action-price">1.22645</span>
        </div>
        <p class = "class_middle__time">
          更新时间:2014/12/24 12:23 GMT
        </p>
    </div>
    <div class="class_down">
        <p class="class_down__title">热门投资者</p>

        <div class="class_down_hot">
            <img class="class_down_hot__icon" src="../../ngsrc/woman.png">
            <div class="class_down_info">
                <p class="class_down_info__name">
                    Rosario Galati
                </p>
                <p class="class_down_info__addr">
                    北京,朝阳
                </p>
            </div>
        </div>


    </div>
</div>
