<div class="table_content">

  <div class="table_content_head">
    <h3> 贵金属</h3>
    <span >更新时间：{{mData.timestamp | dateFormatter }} GMT</span>
  </div>
  <div class="table_content_data">
      <table class="table table-striped" >
          <thead>
          <tr>
            <th>交易品种</th>
            <th>卖出价</th>
            <th>买入价</th>
            <th class="table_column_greem">热度<span class="caret"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in mData.data">
              <td>
                  <div class="gold_basic">
                    <span class="gold_basic__icon icon-forex-{{item.symbol.toLowerCase()}}"></span>
                    <div class="class_basic_info">
                        <a class="class_basic_info__name" ng-click="linkDetail(item.symbol)">{{item.symbol | symbolBeauty}}</a>
                        <p class="class_basic_info__addr">{{item.symbol | symbolToCn}}</p>
                    </div>
                  </div>
              </td>
              <td>
                {{item.ask}}
              </td>
              <td>
                {{item.bid}}
              </td>

              <td class="table_greem_border" ng-class="{table_buttom_border:$index == mData.data.length-1}">
                {{item.rate}}%
              </td>
          </tr>
          </tbody>

      </table>
  </div>
</div>
