<div class="table_content">

  <div class="table_content_head">
    <h3> 贵金属</h3>
    <span >更新时间：2015-03-04 12:00 GMT</span>
  </div>
  <div class="table_content_data">
      <table class="table table-striped" >
          <thead>
          <tr>
            <th>交易品种</th>
            <th>卖出价</th>
            <th>买入价</th>
            <th class="table_column_greem">热度<span class="caret"></span></th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>
                  <div class="gold_basic">
                    <img ng-src="/images/forex_icon/gold.png"></img>
                    <div class="class_basic_info">
                        <p class="class_basic_info__name">GOLD</p>
                        <p class="class_basic_info__addr">黄金</p>
                    </div>
                  </div>
              </td>
              <td>
                 0.81362
              </td>
              <td>
                 0.81402
              </td>

              <td class="table_greem_border">
                 +20.64%
              </td>
          </tr>


          <tr>
              <td>
                <div class="gold_basic">
                  <img ng-src="/images/forex_icon/silver.png"></img>
                  <div class="class_basic_info">
                    <p class="class_basic_info__name">SILVER</p>
                    <p class="class_basic_info__addr">白银</p>
                  </div>
                </div>
              </td>
              <td>
                 102.844
              </td>
              <td>
                 102.904
              </td>

              <td class="table_greem_border table_buttom_border">
                +17.17%
              </td>
          </tr>
          </tbody>

      </table>
  </div>
</div>
