<div tw-loading-img></div>
<div class="money_content">
    <div class="money_bonus">
        <div class="date_searchbar">
            <span class="date_searchbar__tip">日期</span>
            <form class="form-inline" name="withdrawForm" novalidate>
                <div class="input-group">
                    <input class="form-control"
                           name="date"
                           type="text"
                           required
                           ng-model="datepicker.date"
                           tw-datetimepicker
                           datetimepicker-options="{{datepicker.options}}" 
                           >
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click="openWithdrawMdl()">
                            查询
                        </button>
                    </span>
                </div>

                <div ng-show="">
                    <p class="alert alert-danger">
                        请输入金额
                    </p>
                </div>
            </form>
        </div>

        <h3 class="money_content__title">
            分成明细
        </h3>
        <div class="money_content__h_divider"></div>

        <div class="row">
            <div class="col-xs-4 bonus_pnl">
                <h4>当月分成</h4>
                <p>
                    <span class="bonus_pnl__number-danger">
                        {{ bonusSummary.month_dividend || 0 }}
                    </span>
                    美元
                </p>
            </div>
            <div class="col-xs-4 bonus_pnl">
                <h4>累计分成</h4>
                <p>
                    <span class="bonus_pnl__number-danger">
                        {{ bonusSummary.all_dividend || 0 }}
                    </span>
                    美元
                </p>

                <div class="bonus_pnl__v_divider"></div>
            </div>
        </div>

        <div class="money_bonus__h_divider"></div>

        <div class="row">
            <div class="col-xs-4 bonus_pnl">
                <h4>当前跟随资金</h4>
                <p>
                    <span class="bonus_pnl__number-success">
                        xxx
                    </span>
                    美元
                </p>
            </div>
            <div class="col-xs-4 bonus_pnl">
                <h4>跟随人数</h4>
                <p>
                    <span class="bonus_pnl__number">
                        xxx
                    </span>
                    人
                </p>

                <div class="bonus_pnl__v_divider"></div>

            </div>
            <div class="col-xs-4 bonus_pnl">
                <h4>当前跟随资金</h4>
                <p>
                    <span class="bonus_pnl__number">
                        xxx
                    </span>
                    人
                </p>

                <div class="bonus_pnl__v_divider"></div>
            </div>
        </div>
       
        <div ng-show="bonusList.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>跟随人</th>
                        <th>当前跟随平仓盈利</th>
                        <th>跟随浮动盈亏</th>
                        <th>历史最高分成值</th>
                        <th>我的分成</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bonus in bonusList">
                        <td>
                            {{bonus.username}}
                        </td>
                        <td>{{bonus.now_profit}}</td>
                        <td>{{bonus.rate_profit}}</td>
                        <td>{{bonus.top_bonus}}</td>
                        <td>{{bonus.bonus}}</td>
                        <td>
                            <a href="" ng-click="openModal(bonus.user_code)">详情</a>
                        </td>
                    </tr>
                </tbody>
            </table>    
    
            <div class="text-right">
                <p tw-pagination></p>                
            </div>
        </div>
        
        <div ng-if="bonusList.length == 0">
            <p class="text-center">无数据!</p>
        </div>

    </div>
</div>