<div class="sidebar">
    <h4 class="sidebar__title">资金管理</h4>
    <p>随时掌控自己的资金动态</p>
    
    <ul class="sidebar_nav" tw-sidebar-nav>
        <li ng-class="{active: subPage === 'history'}" ng-click="switchItem('history')">
            <a ng-href="#/money/history">出入金历史</a>
        </li>
         <li ng-class="{active: subPage === 'deposit'}" ng-click="switchItem('deposit')">
            <a ng-href="#/money/deposit">入金到账户</a>
        </li>
         <li ng-class="{active: subPage === 'withdraw'}" ng-click="switchItem('withdraw')">
            <a ng-href="#/money/withdraw">从账户出金</a>
        </li>
    </ul>

    <div class="sidebar_intro pd-tp-15">
        <span class="sidebar_intro__safe_icon"></span>
        <h3 class="sidebar_intro__title">
            安全放心
        </h3>
        <p class="sidebar_intro__tip">
            英国 FCA 全程监管资金安全
        </p>
    </div>

    <div class="sidebar_intro mg-tp-50">
        <span class="sidebar_intro__fast_icon"></span>
        <h3 class="sidebar_intro__title">
            快速便捷
        </h3>
        <p class="sidebar_intro__tip">
            7x24 小时支持出入金申请
        </p>
    </div>

</div>