<div tw-loading-img></div>
<div class="money_content" ng-if="personal.verified" >
    <span class="withdraw_icon-lg"></span>
    <h3 class="money_content__title">
        从您的账户出金
        <p>7x24 小时实时到账，以人民币结算</p>
    </h3>

    <div class="money_content__h_divider"></div>

    <div class="row">
        <div class="col-xs-6 form-inline">
            <form name="withdrawForm">
                <div class="input-group">
                    <input class="form-control" 
                           name="withdrawAmount" 
                           type="text"
                           required
                           ng-model="withdraw.amount"
                           ng-pattern="/^(?!0+(?:\.0+)?$)(?:[1-9]\d*|0)(?:\.\d{1,2})?$/"
                           tw-amount-valid
                           max-amount="realEquityInfo.balance">
                    <span class="input-group-btn">
                        <a class="btn btn-primary" href="" ng-disabled="withdrawForm.$invalid" ng-click="openWithdrawMdl()">
                            出金
                        </a>
                    </span>
                </div>
                <div ng-show="withdrawForm.withdrawAmount.$dirty">
                    <p class="alert alert-danger" ng-show="withdrawForm.withdrawAmount.$error.required">
                        请输入金额
                    </p>
                    <p class="alert alert-danger" ng-show="withdrawForm.withdrawAmount.$error.pattern">
                        请输入正确的金额。只能为整数或者小数，小数点后最多两位数字
                    </p>
                    <p class="alert alert-danger" ng-show="withdrawForm.withdrawAmount.$error.twAmountValid">
                        输入的金额超出了可出金金额。
                    </p>
                </div>
            </form>
        </div>
    </div>
    <p class="mg-tp-15">
        当前账户可出金金额：{{realEquityInfo.balance | currency}}
    </p>
    <p class="mg-tp-30">
        今日汇率：1 美元 = {{FXRate.value}} 人民币
    </p>
    <p>
        数据仅供参考，交易时以银行柜台成交价为准。更新时间：
        {{FXRate.timestamp | dateFormatter}}
    </p>
</div>
<div class="money_content" ng-if="!personal.verified" >
    未注册真实账户，不能出金
</div>