<div class="withdraw_modal" ng-if="step === 1">
    <div class="modal-header">
        <h4 class="withdraw_modal__title">
            确认出金
            <span>（1/4）</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="pd-lf-rg-40">
            <p class="withdraw_modal__tip">
                为了确保您的资金安全，请仔细阅读以下信息：
            </p>
            <p class="withdraw_modal__tip-danger">
                1. 为了您的交易安全，请确保出金前无持仓订单
            </p>
            <p class="withdraw_modal__tip-danger">
                2. 系统会暂时关闭您的复制交易功能，待出金成功后自动恢复
            </p>
            <p class="withdraw_modal__tip-danger">
                3. 为了您的资金安全，我们仅支持出金到您本人的银行卡中
            </p>
            <p class="withdraw_modal__tip-danger">
                4. 每次出金将会产生 $20 美金的国际汇款手续费，老虎汇每月会为您支付一次该费用
            </p>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="goNextStep()">
            阅读完毕，确认出金
        </button>
    </div>
</div>

<div class="withdraw_modal" ng-if="step === 2">
    <div class="modal-header">
        <h4 class="withdraw_modal__title">
            填写银行卡信息
            <span>（2/4）</span>
        </h4>
    </div>

    <div class="modal-body">
       <form name="bankForm" novalidate>
           <div class="row form_row">
               <div class="col-xs-3 text-right">
                   <label>账户姓名</label>
               </div>
               <div class="col-xs-7">
                   <label>{{realName}}</label>
               </div>
           </div>

           <div class="row form_row">
               <div class="col-xs-3 text-right">
                   <label>银行卡卡号</label>
               </div>
               <div class="col-xs-7">
                    <input class="form-control"
                           name="cardNum"
                           type="text"
                           required
                           ng-model="card.number"
                           ng-pattern="/^\d{16,19}$/">
                    <div ng-show="bankForm.cardNum.$dirty">
                        <p class="alert alert-danger" ng-show="bankForm.cardNum.$error.required">
                            请输入银行卡号码
                        </p>
                        <p class="alert alert-danger" ng-show="bankForm.cardNum.$error.pattern">
                            请输入正确的银行卡号码（16-19 位数字）
                        </p>
                    </div>
               </div>
           </div>

           <div class="row form_row">
                <div class="col-xs-3 text-right">
                    <label>开户行</label>
                </div>
                <div class="col-xs-7">
                    <input class="form-control" 
                           name="bankAddr"
                           type="text"
                           required
                           ng-model="card.bankAddr">
                    <div ng-show="bankForm.bankAddr.$dirty">
                        <p class="alert alert-danger" ng-show="bankForm.bankAddr.$error.required">
                            请输入开户行
                        </p>
                    </div>
                    <p class="withdraw_modal__tip-danger">
                        开户行请精确到支行
                        <br/>
                        例如：中国工商银行 北京分行 清华园支行
                    </p>
                </div>
            </div>
       </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="bankForm.$invalid" ng-click="goNextStep()">
            下一步
        </button>
    </div>
</div>

<div class="withdraw_modal" ng-if="step === 3">
    <div class="modal-header">
        <h4 class="withdraw_modal__title">
            确认出金信息
            <span>（3/4）</span>
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">
                <div class="money_logo"></div>
            </div>
            <div class="col-xs-8 withdraw_modal__confirm_info">
                <p>
                    账户姓名：{{realName}}
                </p>
                <p>
                    银行卡卡号：{{card.number}}
                </p>
                <p>
                    开户行：{{card.bankAddr}}
                </p>
                <p>
                    出金金额：{{withdrawAmount | currency}}
                </p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="goPreStep()">
            上一步
        </button>
        <button class="btn btn-danger" ng-click="withdrawFun()">
            确认出金
        </button>
    </div>
</div>

<div class="withdraw_modal" ng-if="step === 4">
    <div class="modal-header">
        <h4 class="withdraw_modal__title">
            出金操作完成
            <span>（4/4）</span>
        </h4>
    </div>

    <div class="modal-body">
        <h3 class="text-center">出金操作成功</h3>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeModal()">
            完成
        </button>
    </div>
</div>