@include b(money_bonus) {
    
    .table {
        margin: 15px 0;
        border-top: 1px solid $brand-border;
        border-bottom: 1px solid $brand-border;
    }
    .table > tbody > tr > td,
    .table > thead > tr > th{
        border-bottom-width: 1px;
        text-align: center;
        line-height: 40px;      
    }

    .pagination {
        margin: 0;
    }

    @include e(h_divider) {
        @extend .money_content__h_divider;
        margin: 15px 0;
    }

    @include e(page_info) {
        margin-bottom: 0;
        padding: 6px 12px;
    }
}

@include b(bonus_pnl) {
    padding: 0;

    h4 {
        margin-left: 30px;
        font-size: 14px;
        font-weight: 500;
    }

    @include e(number) {
        margin-left: 30px;
        font-size: 24px;
        font-weight: 700;

        @include m(danger) {
            @extend .bonus_pnl__number;
            color: $brand-danger;            
        }

        @include m(success) {
            @extend .bonus_pnl__number;
            color: $brand-success;            
        }
    }

    @include e(v_divider) {
        position: absolute;
        top: 0px;
        width: 1px;
        height: 78px;
        background-color: $brand-border;
    }
}

@include b(date_searchbar) {
    float: right;

    .form-inline {
        width: 260px;
    }
    .input-group {
        position: relative;
        
        input.form-control {            
            &:focus {
                border-right-width: 0;
            }
        }
    }

    @include e(tip) {
        font-size: 16px;
        font-weight: 700;
    }
}

@include b(bonus_detail) {
    
    .table {
   
        thead > tr > th,
        tbody > tr > td {
            line-height: 40px;
            text-align: center;
        }
    }
    
    @include e(profit) {
        color: $brand-success;
    }

}