@include b(withdraw_modal) {
    @extend .setting_modal;

    .money_logo {
        float: right;
    }

    @include e(title) {
        @extend .setting_modal__title;
    }

    @include e(tip) {
        font-size: 15px;
        font-weight: 700;

        @include m(danger) {
            margin-top: 10px;
            color: $brand-danger;
        }
    }

    @include e(confirm_info) {
        margin-top: 8px;

        p {  
            font-size: 15px;
            font-weight: 700;
            color: $gray;
        }
    }
}