

@include b(layout-msg) {

    @include b(msg_menu) {
        @extend .col-lg-3;
        width: 230px;
        padding: 0;
    }

    @include b(msg_content) {
        @extend .col-lg-9;
        width: 700px;
        padding: 0;
        padding: 18px;
        margin-left: 30px;
        background-color: $brand-white;
        border: 1px solid $brand-border-color;
    }
}

@include b(hr_stl){
  border: 0 ;
  background-color:$brand-border-color;
  height:1px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  clear:both;
}

@include b(msg_head){
    margin-top: 30px;
    margin-left: 10px;
    overflow: hidden;

    @include e(title){
        float:left;
        width:100px;
        display: inline;
    }
    @include e(sum){
        margin-top: 30px;
        float: right;
    }
}
@include b(msg_main){
    overflow: hidden;
    margin-top: 30px;
    @include e(icon){
        float:left
    }
    @include b(msg_main_content){
        float:right;
        margin-left:10px;
        margin-top: 8px;
        width:600px;
        @include e(tip){
            color:#f8bc37;
        }
    }
    @include b(content_visited){
      font-weight: 600;
    }
}
@include b(msg_other){
    margin-top: 10px;
    @include e(ctime){
        color: $gray-lighter;
    }
    @include e(del){
        float:right;
        &:hover{
            cursor: pointer;
            text-decoration: none;
        }
    }
}
@include b(mg-loading){
    margin-top: 20px;
    width:600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
