<div class="real_virtual">
    <div class="row">
        <div class="col-xs-9">
            <h3 class="real_virtual__name">{{profile.username}}</h3>
            <span>
                今天没有被逼出来的只有两类人：一类是来不及跑的韭菜，另一类是经验丰富的老江湖。
            </span>
        </div>
        <div class="col-xs-3">
            <a class="real_virtual__switch btn btn-primary" href="">
                模拟账户
            </a>
            <br>
            <span class="real_virtual__switch_tip">点击切换到真实账户</span>
        </div>
    </div>
</div>






<div ui-view>
    
</div>