<div class="asset_curve">
    <h4 class="asset_curve__title">
        <span class="asset_curve__interval">30</span>
        天内的资产变化曲线
    </h4>
    <div class="asset_curve__graph">
        <h1>数据统计曲线图</h1>  
    </div>
</div>
<div class="asset_detail">
    <div class="row">
        <div class="asset_detail__panel col-xs-4">
            <h4>盈利率</h4>
            <p class="asset_detail__percent">
                +64.21%
            </p>
            <p>
                用户的盈利幅度
            </p>
        </div>
        <div class="asset_detail__panel col-xs-4">
            <h4>交易手数</h4>
            <p class="asset_detail__amount">
                +64.21%
            </p>
            <p>
                已平仓交易的交易手数
            </p>
        </div>
         <div class="asset_detail__panel col-xs-4">
            <h4>获利点数</h4>
            <p class="asset_detail__number">
                35.8
            </p>
            <p>
                以标准手计算
            </p>
        </div>
    </div>
</div>
<div class="transaction_data">
    <h3 class="transaction_data__title">
        共
        <span>473</span>
        单平仓交易
    </h3>
    <p>
        采样于
        <span>30</span>
        天内的交易数据
    </p>
    <div class="profit_order">
        <div class="row"> 
            <div class="profit_order_graph col-xs-4" >
                盈利订单 91%
            </div>
            <div class="col-xs-4 text-center">其中</div>
            <div class="profit_order__detail col-xs-4">
                <p>
                    最大收益
                    +<span>278.00%</span>
                </p>
                <p>
                    平均收益
                    +<span>100%</span>
                </p>
                <p>
                    最小收益
                    +<span>100%</span>
                </p>
            </div>
        </div>
    </div>

</div>