.dropdown.open {
    a.nav_personal {
        background-color: $brand-white !important;
        color: $gray-dark !important;
    }
    a.nav_msg{
      background-color: $brand-white !important;
      color: $gray-dark !important;
    }
}

@include b(nav_msg){
    position: relative;
    
    @include e(pic){
        width:30px;
        height:20px;
    }
    
    @include e(tip){
        z-index: 99;
        position:absolute;
        top:8px;
        right:8px;
    }
}

@include b(nav_drop_msg){
    left: auto !important;
    right: -1px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    @include e(item){
        padding-left: 15px;
        line-height: 40px;

        &:hover{
            background-color: $brand-primary;
            cursor:pointer;

            span{
              color:$brand-white;
            }
        }

        &:first-child {
            border-bottom: 1px solid $brand-border-color;
        }
    }
}

@include b(nav_personal) {
    text-align: right;
    border-bottom: none !important;

    @include e(photo) {
        width: 20px;
        height: 20px;
    }
    @include e(name) {
        display: inline-block;
        vertical-align: top;
        max-width: 110px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 700;
        overflow: hidden;
    }
}

@include b(nav_personal_detail) {
    left: auto !important;
    right: -1px;
    width: 250px;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .row {
        margin-left: -5px;
        margin-right: -5px;

        .col-xs-4,
        .col-xs-8 {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    @include e(basic) {
        padding:5px;
    }

    @include e(photo) {
        width: 70px;
        height: 70px;
    }

    @include e(name) {
        margin-bottom: 6px;
        font-size: 18px;
        font-weight: 700;
        color: $brand-primary;
    }

    @include e(id) {
        color: $gray-light;
    }

}

@include b(nav_money) {
    border-top: 1px solid $brand-border-color;
    padding: 10px;

    @include e(title) {
        margin: 0;
        line-height: 30px;
    }

    @include e(number) {
        float: right;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 700;
    }

    @include e(time) {
        text-align: center;
        color: $gray-lighter;
    }
}

@include b(money_transfer) {
    font-size: 0;

    @include e(deposit) {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        line-height: 35px;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: $gray-dark;
        border-top: 1px solid $brand-border-color;
        border-bottom: 1px solid $brand-border-color;

        &:first-child {
            border-right: 1px solid $brand-border-color;
        }

        &:hover {
            color: #fff;
            background-color: $brand-success;
        }
    }

    @include e(withdraw) {
        @extend .money_transfer__deposit;

        &:hover {
            background-color: $brand-danger;
        }

    }
}

@include b(nav_logout) {
    background-color: $gray-lightest;
    text-align: center;

    a {
        line-height: 35px;
        font-weight: 700;
        color: $gray-dark;
    }
}
