<div class="container-sm">
    <ul>
        <li>
            <a href="https://www.tigerwit.com/help/faq" target="_blank">常见问题</a>
        </li>
        <li>
            <a href="https://www.tigerwit.com/platforms/mt4" target="_blank">交易软件</a>
        </li>
        <li>
            <a href="https://www.tigerwit.com/agency/agency" target="_blank">代理加盟</a>
        </li>
        <li>
            <a href="https://www.tigerwit.com/master/master" target="_blank">成为高手</a>
        </li>
        <li>
            <a href="https://www.tigerwit.com/tigerwit-edu/basic_knowledge/beginners" target="_blank">
                关于 TigerWit
            </a>
        </li>
    </ul>
    <p>
        老虎汇 版权所有  客服电话: 400 809 8509
    </p>
    <p>
        Copyright &copy; 2014 TigerWit All Rights Reserved.
    </p>
</div>