
@include b(master_content){
    padding:10px;
    min-height:300px;
    background-color: $brand-white;
    border: 1px solid $brand-border-color;

    @include b(master_content_head){
        margin-top:30px;
        margin-left:20px;
    }
    @include b(master_content_data){
        margin: 20px;
    }
    @include b(master_data_item){
        position:relative;
        overflow: hidden;
        margin-top: 20px;
    }
    @include b(master_data_detail){
        border: 1px solid $brand-border-color;
        margin-top: 4px;
        margin-left: 4px;
        @include b(master_data_specific){
             padding:30px;
             overflow: hidden;
             border-bottom: 1px solid $brand-border-color;
             @include b(master_data_1){
                 float:left;
                 width:80px;
                 height:80px;
             }
             @include b(master_data_2){
                 float:left;
                 margin-left: 15px;
             }

             @include b(master_data_3){
                 float:right;
                 margin-right: 15px;
                 padding-right: 15px;
                 border-right: 1px solid $brand-border-color;
                 @include e(sum){
                    font-size: 23px;
                    font-weight: 600;
                    margin-bottom: 25px;
                 }
             }
             @include b(master_data_6){
                 float:right;
                 @include e(sum){
                     font-size: 23px;
                     font-weight: 600;
                     margin-bottom: 25px;
                     color:$brand-green;
                 }
             }
             @include b(mast_data_name){
                 text-align: center;
             }
         }
        @include b(designation_icon){
            position:absolute;
            top:0px;
            left:0px;
        }
        @include e(p){
            margin-left: 20px;
            margin-top: 6px;
        }
    }
}
