
@include b(ranking_user){

    img{
        float:left;
        width:50px;
        height:50px;
    }
   @include b(ranking_user_info){
        margin-left: 10px;
        float:left;
        @include e(name){
            color:$brand-primary;

        }
        @include e(addr){
            font-size:16px;
            font-weight: normal !important;
        }
    }
}
.master_content_data{
  &>table{

      th{
         font-size: 16px;
         text-align: center;
         padding: 12px !important;
         border-bottom: 1px solid $brand-border-light !important;
      }
      .master_ranking_greem{
          background: $brand-green;
          color:$brand-white;
          border-right: 1px solid $brand-green;
          border-left: 1px solid $brand-green;
          border-bottom: none !important;
      }
      .master_ranking_border{
          border-right: 1px solid $brand-green;
          border-left: 1px solid $brand-green;
          color:$brand-green
      }
      td {
         vertical-align: middle !important;
         text-align: center;
         border-top: none !important;
         font-weight: 600;
         padding:14px !important;
         font-size: 15px;
      }
  }
}
