<div class="upload_avatar" tw-crop-image>
    <div ng-show="support">
        <button class="close" ng-click="closeModal()">X</button>
        <div class="row">
            <div class="col-xs-4">
                <div id="imgPreview" class="upload_avatar__preview">
                </div>
            </div>
            <div class="col-xs-8">
                <h3>上传头像 {{personal.username}}</h3>
                <p>
                    只支持 jpeg、png 的图片格式，大小控制在 2MB 以内。
                </p>
                <label class="btn btn-primary" for="input">
                    <input id="input" class="upload_avatar__input" type="file" accept="image/jpeg, image/png" >
                    选择图片
                </label>
            </div>
        </div>
        
        <div class="upload_avatar__container" >
            <img id="image" class="upload_avatar__image" ng-src="{{personal.lgAvatar}}">
        </div>

        <div class="text-center mg-tp-30">
            <button class="btn btn-primary" ng-click="uploadImg()">
                保存
            </button>
        </div>
    </div>
    <div ng-show="!support">
        浏览器不支持上传头像功能，请使用 chrome
    </div>
</div>