<div tw-loading-img></div>
<div class="setting_content">
    <h3 class="setting_content__title">个人信息</h3>
    <div class="basic_setting">
        <div class="row">
            <div class="col-xs-4">
                <img class="basic_setting__portrait" ng-src="{{personal.lgAvatar}}" alt="**" >
                <button class="btn btn-primary basic_setting__change" ng-click="openAvatarModal()">
                    修改头像
                </button>
            </div>
            <div class="col-xs-8">
                <form class="basic_info_form" name="basicInfoForm" novalidate>
                    <div class="row">
                        <div class="col-xs-3">
                            <h4>昵称</h4>
                        </div>
                        <div class="col-xs-9">
                            {{personal.username}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label>性别</label>
                        </div>
                        <div class="col-xs-9">
                            <select class="form-control" 
                                    name="sex"
                                    required
                                    ng-model="sex"
                                    ng-options="sex.nameZH for sex in sexes">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label>国家/地区</label>
                        </div>
                        <div class="col-xs-9">
                            <select class="form-control" 
                                    name="country"
                                    required
                                    ng-model="location.country"
                                    ng-options="country.name_cn for country in countries"
                                    ng-change="select('country')">
                                <!-- <option value="">选择国家</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label>省/州</label>
                        </div>
                        <div class="col-xs-9">
                            <select class="form-control" 
                                    name="state"
                                    required
                                    ng-if="!noSelect"
                                    ng-model="location.state"
                                    ng-options="state.name_cn for state in states"
                                    ng-change="select('state')">
                                <option value="">请选择</option>
                            </select>
                            <input class="form-control" 
                                   name="state"
                                   type="text"
                                   ng-if="noSelect"
                                   ng-model="inputRegion.stateName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label>市/区</label>
                        </div>
                        <div class="col-xs-9">
                           <select class="form-control" 
                                   name="city"
                                   required
                                   ng-if="!noSelect"
                                   ng-model="location.city"
                                   ng-options="city.name_cn for city in cities">
                                <option value="">请选择</option>
                            </select>
                            <input class="form-control" 
                                   name="city"
                                   type="text"
                                   ng-if="noSelect"
                                   ng-model="inputRegion.cityName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label>个性签名</label>
                        </div>
                        <div class="col-xs-9">
                            <div class="publish_box">
                                <textarea class="publish_box__textarea"
                                          name="signature"
                                          ng-model="signature"
                                          tw-publish-box
                                          word-limit="80"
                                          word-num="wordNum">
                                </textarea>
                                <span class="publish_box__word_limit">
                                    {{wordNum}}/80 字符
                                </span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" ng-disabled="basicInfoForm.$invalid" ng-click="submitForm()">
                        保存
                    </button>
                    <div class="succ_tip" ng-show="succSave">
                        <i class="fa fa-check"></i>保存成功
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>