<div class="layout-1">
    <div class="hd">
        <h2>
            TigerWit
            <span>网聚高手，汇聚财富</span>
        </h2>
    </div>
    <div class="bd">
        <div class="email_verify" ng-if="emailVerify.succVerify">
            <h3 class="email_verify__title">
                恭喜您，注册邮箱验证成功！
            </h3>
            <div class="text-center">
                <a class="btn btn-danger" href="#/personal">
                    返回个人中心
                </a>
            </div>
        </div>

        <div class="email_verify" ng-if="!emailVerify.succVerify">
            <h3 class="email_verify__title">
                邮箱验证失败！请重新验证
            </h3>
            <div class="text-center">
                <a class="btn btn-danger" href="#/setting/safety">
                    重新验证
                </a>
            </div>
        </div>
    </div>
    <div class="ft">
        <ul>
            <li>
                <a href="">常见问题</a>
            </li>
            <li>
                <a href="">交易软件</a>
            </li>
            <li>
                <a href="">代理加盟</a>
            </li>
            <li>
                <a href="">成为高手</a>
            </li>
            <li>
                <a href="">联系我们</a>
            </li>
        </ul>
        <p>
            老虎汇 版权所有  客服电话: 400 809 8509
        </p>
        <p>
            Copyright &copy; 2014 TigerWit All Rights Reserved.
        </p>
    </div>
</div>