<div class="setting_modal">
    <div class="modal-header">
        <button class="close" ng-click="closeModal()">X</button>
        <h4 class="setting_modal__title">
            修改电子邮箱 
            <span>({{step}}/3)</span>
        </h4>
    </div>
    
    <div ng-show="step === 1">
        <div class="modal-body">
            <form name="formStep1" novalidate>
                <div class="form_row">
                    <div class="col-xs-4 text-right">
                        <label>当前电子邮箱</label>
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" 
                               name="oldEmail"
                               type="text"
                               required
                               ng-model="email.oldNumber"
                               ng-focus="hideErr('oldEmail')"
                               ng-blur="showErr('oldEmail')">
                        <div ng-show="formErr.oldEmail">
                            <p class="form_row__bottom_alert" ng-show="formStep1.oldEmail.$error.required">
                                请输入当前电子邮箱
                            </p>
                            <p class="form_row__bottom_alert" ng-show="!email.correct">
                                电子邮箱不正确
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form_row">
                    <div class="col-xs-4 text-right">
                        <label>登录密码</label>
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" 
                               name="password"
                               type="password"
                               required
                               ng-model="password.number"
                               ng-focus="hideErr('password')"
                               ng-blur="showErr('password')">
                        <div ng-show="formErr.password">
                            <p class="form_row__bottom_alert" ng-show="formStep1.password.$error.required">
                                请输入密码
                            </p>
                            <p class="form_row__bottom_alert" ng-show="!password.correct">
                                密码不正确
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form_row">
                    <div class="col-xs-6 col-xs-offset-4">
                        <button class="btn btn-danger" ng-click="submitFormStep1()">
                            下一步
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-show="step === 2">
        <div class="modal-body">
            <form name="formStep2" novalidate>
                <div class="form_row">
                    <div class="col-xs-4 text-right">
                        <label>新电子邮箱</label>
                    </div>
                    <div class="col-xs-6">
                        <input class="form-control" 
                               name="newEmail"
                               type="text"
                               required
                               ng-model="email.newNumber"
                               ng-pattern="email.newNumReg"
                               ng-focus="hideErr('newEmail')" 
                               ng-blur="showErr('newEmail')">
                        <div ng-show="formErr.newEmail">
                            <p class="form_row__bottom_alert" ng-show="formStep2.newEmail.$error.required">
                                请输入新电子邮箱
                            </p>
                            <p class="form_row__bottom_alert" ng-show="formStep2.newEmail.$error.pattern">
                                请输入正确的电子邮箱
                            </p>
                            <p class="form_row__bottom_alert" ng-show="email.existence">
                                该电子邮箱已经验证过
                            </p>
                            <p class="form_row__bottom_alert" ng-show="email.excess">
                                更改电子邮箱次数过多，请稍后再试
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form_row">
                    <div class="col-xs-6 col-xs-offset-4 mg-tp-30">
                        <button class="btn btn-danger" ng-click="submitFormStep2()">
                            发送验证邮件
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div ng-show="step === 3">
        <div class="modal-body">
            <h3 class="setting_modal__change_success">
                邮箱修改成功！
            </h3>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <p class="setting_modal__change_tip">
                        注意：我们向您的新邮箱发送了一封认证邮件，请查收您的邮箱，按邮件中操作进行认证。
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="closeModal()">
                完成
            </button>
        </div>
    </div>
</div>