<div tw-loading-img></div>
<div class="setting_content">
    <div class="verify" ng-if="verifyStatus === 0">
        <h4 class="verify__unverified">
            未认证
        </h4>
        
        <h3 class="setting_content__title">实名认证</h3>

        <p class="text-center">
            您还没有进行实名认证，马上认证，进行更安全的真实交易。
        </p>
        <p class="text-center mg-tp-30">
            <button class="btn btn-primary" ng-click="openModal()">
                实名认证
            </button>
        </p>    
    </div>

    <div class="verify" ng-if="verifyStatus === 2">
        <h4 class="verify__verifying">
            认证审核中
        </h4>
        
        <h3 class="setting_content__title">实名认证</h3>
        
        <p class="verify__info">
            尊敬的
            <span>{{account.name}}</span>
            您好，您上传的证件号为
            <span>{{account.id.showedIdNum}}</span>
            的证件正在审核中，认证通过后，我们将通过短信和邮件的方式通知您，请注意查收。
        </p>
        <p class="verify__tip mg-tp-30">
            注意：审核期间并不影响您的正常交易。
        </p>            
    </div>

    <div class="verify" ng-if="verifyStatus === 1">
        <h4 class="verify__fail">
            审核未通过
        </h4>
        
        <h3 class="setting_content__title">实名认证</h3>
    
        <form name="verifyForm">
            <div class="row">
                <div class="col-xs-2">
                    <label>姓名</label>
                </div>
                <div class="col-xs-6">
                    <input class="form-control"
                           name="name"
                           type="text"
                           required
                           ng-model="account.name"
                           ng-pattern="/^[\u4e00-\u9fa5\.]{2,20}$/">
                    <div ng-show="verifyForm.name.$dirty">
                        <p class="alert alert-danger" ng-show="verifyForm.name.$error.required">
                            请填写姓名
                        </p>
                        <p class="alert alert-danger" ng-show="verifyForm.name.$error.pattern">
                            名字为 2-20 个汉字以及 . 号
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <label>身份证号</label>
                </div>
                <div class="col-xs-6">
                    <input class="form-control" 
                           name="idNumber"
                           type="text"
                           required 
                           ng-model="account.id.number"
                           ng-pattern="/(^\d{15}$)|(^\d{17}([0-9]|X)$)/"
                           ng-focus="eliminateError()">
                    <div ng-show="verifyForm.idNumber.$dirty">
                        <p class="alert alert-danger" ng-show="verifyForm.idNumber.$error.required">
                            请填写身份证号
                        </p>
                        <p class="alert alert-danger" ng-show="verifyForm.idNumber.$error.pattern">
                            15 或 18 位数字，最后一位为字母时用大写 X
                        </p>
                        <p class="alert alert-danger" ng-show="account.id.existence">
                            该身份证号已经注册！
                        </p>
                        <p class="alert alert-danger" ng-show="!account.id.valid">
                            该身份证号无效！
                        </p>
                    </div>
                </div>
            </div>
        </form>

        <label>证件照</label>
        <div class="upload_form row">
                <div class="upload_image">
                    <div class="col-xs-6">
                        <div class="upload_image__front" for="front" tw-upload-image>
                            <input id="front" class="upload_image__input" name="file" type="file" accept="image/jpeg,image/png">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="upload_image__back" for="back" tw-upload-image>
                            <input id="back" class="upload_image__input" name="file" type="file" accept="image/jpeg,image/png">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="upload_image__tip">
                            <p class="alert alert-warning" ng-if="account.id.frontImgStatus === 1">
                                {{account.id.frontImgMsg}}
                            </p>
                            <p class="alert alert-success" ng-if="account.id.frontImgStatus === 2">
                                {{account.id.frontImgMsg}}
                            </p>
                            <p class="alert alert-danger" ng-if="account.id.frontImgStatus === 3">
                                {{account.id.frontImgMsg}}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="upload_image__tip">
                            <p class="alert alert-warning" ng-if="account.id.backImgStatus === 1">
                                {{account.id.backImgMsg}}
                            </p>
                            <p class="alert alert-success" ng-if="account.id.backImgStatus === 2">
                                {{account.id.backImgMsg}}
                            </p>
                            <p class="alert alert-danger" ng-if="account.id.backImgStatus === 3">
                                {{account.id.backImgMsg}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="account_register__tip">
            * 目前只支持 png，jpg，jpeg，gif 的图片格式，大小控制在 3M 之内。
            </p>
        <div class="text-center mg-bt-15">
            {{verifyForm.$invalid}},{{account.id.frontImgStatus}},{{account.id.backImgStatus}}
            <button class="btn btn-primary" ng-disabled="verifyForm.$invalid || account.id.frontImgStatus !== 2 || account.id.backImgStatus !== 2" ng-click="submitVerifyForm()">
                确定提交
            </button>
        </div>

        <div class="succ_tip" ng-show="account.succSave">
            <i class="fa fa-check"></i>提交成功
        </div>
    </div>

    <div class="verify" ng-if="verifyStatus === 3">
        <h4 class="verify__success">
            已认证
        </h4>
        <h3 class="setting_content__title">实名认证</h3>

        <p class="verify__info">
            尊敬的
            <span>{{account.name}}</span>
            您好，您上传的证件号为
            <span>{{account.id.showedIdNum}}</span>
            的证件已经通过实名认证审核，请放心交易。
        </p>            
    </div>
</div>