@include b(copy_modal) {
    $copy_modal: &;

    padding: 15px;

    .btn-primary {
        font-size: 15px;
        font-weight: 700;
    }
    
    @include e(photo) {
        display: block;
        width: 50px;
        height: 50px;
        margin: 0 auto;
    }

    @include e(copy_type) {
        position: absolute;
        top: -17px;
        left: -2px;
        width: 64px;
        height: 64px;
        background-repeat: no-repeat;

        &.real {
            @include img-retina($image_path + 'copy_trade.png', $image_path + 'copy_trade@2x.png', 127px, 66px);
        }
        &.demo {
            @include img-retina($image_path + 'copy_trade.png', $image_path + 'copy_trade@2x.png', 127px, 66px);           
            background-position: -64px; 
        }
    }

    @include e(copy_type-switch) {
        font-size: 15px;
        font-weight: 700;
        color: $brand-primary;

        &:hover {
            cursor: pointer;
        }
    }

    @include e(name) {
        margin-top: 0;
        font-weight: 700;
    }

    @include e(content) {
        margin: 15px auto;
        padding: 15px 10px; 
        border: 1px solid $brand-border-color;
        background-color: $gray-lightest;
    }

    @include e(money) {
        padding: 10px 0;
        
        .alert-danger {
            padding: 5px;
            margin: 5px 0;
        }

        .form-inline {
            .form-control {
                width: 100px;
            }
        }
    }

    @include e(rate) {
        span {
            font-weight: 700;
        }
    }

    @include e(useable) {
        @extend .copy_modal__rate;
    }

    @include e(cancel) {
        margin-bottom: 0;
        text-align: right;
        color: $brand-danger;
        cursor: pointer;
    }
}