@include b(history_orders) {
    $history_orders: &;
    min-height: 600px;

    .nav-pills {
        padding: 10px 0;
        
        >li {
            float: right;
        }
        a {
            padding: 6px 12px;
            font-size: 15px;
            font-weight: 700;

            &:hover,
            &:focus {
                color: $brand-dark;
                background-color: $gray-lightest;
            }
        }
    }

    .btn-loading {
        margin: 15px auto 0;
    }

    @include b(order_item) {
        $order_item: &;

        padding: 15px;
        text-align: center;

        &:nth-child(odd) {
            background-color: $gray-lightest;
        }
        &:nth-child(even) {
            background-color: $brand-white;
        }

        .col-xs-1,
        .col-xs-2,
        .col-xs-3 {
            padding: 0;
            line-height: 60px;
        }
    
        @include e(operate) {
            line-height: 30px !important;

            p {
                margin: 0;
            }

            @include e(exchange, $order_item) {
                font-size: 15px;
                font-weight: 700;
            }

            @include e(symbol, $order_item) {
                font-size: 16px;
                font-weight: 700;
                color: $brand-primary;
            }

            @include e(way, $order_item) {
                padding: 2px;
                margin: 0 2px;
                border-radius: 4px;
                font-size: 12px;
                background-color: #ebebea;
            }

            @include e(time, $order_item) {
                color: $gray-lighter;
            }
        }

        @include e(copiedTrader) {
            font-size: 15px;
            font-weight: 700;
            color: $brand-primary;   
        }

        @include e(price) {
            font-size: 15px;
            font-weight: 700;
        }

        @include e(profit) {
            font-size: 16px;
            font-weight: 700;
            color: $brand-green;
        }

        @include e(deficit) {
            font-size: 16px;
            font-weight: 700;
            color: $brand-red;
        }
    }

    @include b(copied_trader_info) {
        padding: 15px;
        background-color: $gray-lightest !important;

        @include e(photo) {
            position: relative;
            z-index: 1;
            width: 50px;
            height: 50px;
            background-color: #fff;
        }

        @include e(name) {
            margin: 0;
            line-height: 30px;
            text-align: left;
            font-size: 15px;
            font-weight: 700;
            color: $brand-primary;    
        }
    }

    @include b(copy_orders) {
        position: relative;

        @include e(trunk) {
            position: absolute;
            top: -45px;
            left: 28px;
            width: 1px;
            height: 100%;
            background-color: $brand-border-color;
        }

        @include e(branch) {
            position: absolute;
            top: 30px;
            left: 28px;
            width: 30px;
            height: 1px;
            background-color: $brand-border-color;
        }
    }

    @include b(fold_btn) {
        display: inline-block;
        margin: 0;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 700;
        color: $brand-primary;
        cursor: pointer;

        @include e(close) { 
        }

        @include e(open) {
        }

        & {
            .fold_btn__close {
                display: block;
            }

            .fold_btn__open {
                display: none;
            }
        }

        &.closed {
            .fold_btn__close {
                display: none;
            }

            .fold_btn__open {
                display: block;
            }
        }
    }    
}
