@include b(history_orders) {
    $history_orders: &;
    min-height: 600px;

    .nav-pills {
        padding: 10px 0;
        
        >li {
            float: right;
        }
        a {
            padding: 6px 12px;
            font-size: 15px;
            font-weight: 700;

            &:hover,
            &:focus {
                color: $brand-dark;
                background-color: $gray-lightest;
            }
        }
    }


    @include e(header) {
        border-bottom: 1px solid $brand-border-color;
        line-height: 2.5;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    @include e(pnl) {
        li {
            padding: 15px;
            text-align: center;

            &:nth-child(even) {
                background-color: $gray-lightest;
            }

            .col-xs-1,
            .col-xs-2,
            .col-xs-3 {
                padding: 0;
                line-height: 60px;
            }

            .col-xs-2 {
                &:first-child {
                    text-align: left;
                }
            }
        }

        @include e(logo, $history_orders) {
            width: 35px;
            height: 35px;
        }
        
        @include e(operate, $history_orders) {
            line-height: 30px !important;

            p {
                margin: 0;
            }
        }

        @include e(exchange, $history_orders) {
            font-size: 16px;
            font-weight: 700;
        }

        @include e(symbol, $history_orders) {
            font-size: 16px;
            font-weight: 700;
            color: $brand-primary;
        }

        @include e(way, $history_orders) {
            padding: 2px;
            margin: 0 2px;
            border-radius: 4px;
            font-size: 12px;
            background-color: #ebebea;
        }

        @include e(time, $history_orders) {
            color: $gray-lighter;
        }

        @include e(duplicator, $history_orders) {
            font-size: 16px;
            font-weight: 700;
            color: $brand-primary;   
        }

        @include e(price, $history_orders) {
            font-size: 16px;
            font-weight: 700;
        }

        @include e(profit, $history_orders) {
            font-size: 16px;
            font-weight: 700;
            color: $brand-green;
        }

        @include e(deficit, $history_orders) {
            font-size: 16px;
            font-weight: 700;
            color: $brand-red;
        }
    }
}
