@include b(real_virtual) {
    padding:15px;
    border: 1px solid $brand-border-color;
    background-color: $gray-lightest;
    .col-xs-3{
        text-align: right;
    }

    @include e(name) {
        margin-top: 0;
        font-weight: 700;
    }

    @include e(switch) {
        padding: 5px 20px;
        font-size: 18px;
    }
    @include e(switch_tip) {
        font-size: 13px;
        color: $brand-red;
    }
}

@include b(invest_tab) {
    margin-top :0;
    border: 1px solid $brand-border-color;
    border-top: none;
    background-color: $gray-lightest;

    @include e(item) {
        margin-bottom: -3px !important;
        >a {
            margin-left: -1px;
            padding: 20px !important;
            border-radius: 0 !important;
            font-size: 16px;
            color: $brand-primary;

            &:hover,
            &:focus {
                border: 1px solid transparent !important;
                background-color: transparent !important;
            }
        }
        
        &.active a{
            color: $gray-dark !important;
            border: 1px solid $brand-border-color !important;
            border-top: none !important;
            border-bottom: none !important;
            background-color: $brand-white !important;

            &:hover,
            &:focus {
                color: $gray-dark !important;
                border: 1px solid $brand-border-color !important;
                border-top: none !important;
                border-bottom: none !important;
                background-color: $brand-white !important;
            }
        }

        
    }
}

@include b(invest_tab_content) {
    min-height: 700px;
    padding: 15px;
    border: 1px solid $brand-border-color;
    border-top: none;
    background-color: $brand-white;
}