@include b(real_demo) {
    padding:15px;
    border: 1px solid $brand-border-color;
    background-color: $gray-lightest;
    .col-xs-3{
        text-align: center;
    }

    @include e(info) {

        h3 {
            margin-top: 0;
            font-weight: 700;
        }

        p {
            height: 40px;
            margin-bottom: 0px;
        }
        
    }

    @include e(switch) {
        width: 175px;
        height: 43px;
        margin-top: 10px;
        margin-left: 10px;
        padding-top: 3px;
        line-height: 40px;
        font-size: 18px;
        color: $brand-white;

        &:hover {
            cursor: pointer;
        }

        &.real {
            @include img-retina($image_path + 'account_switch.png', $image_path + 'account_switch@2x.png', 175px, 43px);
            background-repeat: no-repeat;
            background-position: 0px -46px;
        }
        &.demo {
            @include img-retina($image_path + 'account_switch.png', $image_path + 'account_switch@2x.png', 175px, 43px);
            background-repeat: no-repeat;
        }
    }

    @include e(switch_tip) {
        margin-bottom: 0;
        margin-left: 45px;
        font-size: 13px;
        color: $brand-red;
    }
}

@include b(invest_tab) {
    margin-top :0;
    border: 1px solid $brand-border-color;
    border-top: none;
    background-color: $gray-lightest;

    @include e(item) {
        margin-bottom: -3px !important;
        >a {
            margin-left: -1px;
            padding: 20px !important;
            border-radius: 0 !important;
            font-size: 16px;
            color: $brand-primary;

            &:hover,
            &:focus {
                color: $brand-dark;
                border: 1px solid transparent !important;
                background-color: transparent !important;
            }
        }
        
        &.active a {
            color: $gray-dark !important;
            border: 1px solid $brand-border-color !important;
            border-top: none !important;
            border-bottom: none !important;
            background-color: $brand-white !important;

            &:hover,
            &:focus {
                color: $gray-dark !important;
                border: 1px solid $brand-border-color !important;
                border-top: none !important;
                border-bottom: none !important;
                background-color: $brand-white !important;
            }
        }
        
        &:hover .invest_tab__icon-summary {
            background-position: -5px;
        }
        &:hover .invest_tab__icon-statistics {
           background-position: -45px; 
        }
        &:hover .invest_tab__icon-history {
            background-position: -85px;
        }
        &:hover .invest_tab__icon-relationship {
            background-position: -125px;
        }

        &.active .invest_tab__icon-summary {
            background-position: -5px 0;
        }
        &.active .invest_tab__icon-statistics {
            background-position: -45px 0;
        }
        &.active .invest_tab__icon-history {
            background-position: -85px 0;
        }   
        &.active .invest_tab__icon-relationship {
            background-position: -125px 0;
        }
    }

    @include e(icon) {
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        @include background_image_url('invest_switch.png');
        background-repeat: no-repeat;

        @include m(summary) {
            background-position: -5px -60px;
        }
        @include m(statistics) {
            background-position: -45px -60px;
        }
        @include m(history) {
            background-position: -85px -60px;
        }
        @include m(relationship) {
            background-position: -125px -60px;
        }
    }
}

@include b(invest_tab_content) {
    position: relative;
    padding: 15px;
    border: 1px solid $brand-border-color;
    border-top: none;
    background-color: $brand-white;
}