@include b(real_demo) {
    padding:15px;
    border: 1px solid $brand-border-color;
    background-color: $gray-lightest;
    .col-xs-3{
        text-align: center;
    }

    @include e(name) {
        margin-top: 0;
        font-weight: 700;
    }

    @include e(switch) {
        width: 184px;
        height: 64px;
        margin-left: 6px;
        padding-top: 10px;
        font-size: 18px;
        color: $brand-white;

        &:hover {
            cursor: pointer;
        }

        &.real {
            background: url(../images/account_switch.png) no-repeat;
        }
        &.demo {
            background: url(../images/account_switch.png) no-repeat 0 -64px;
        }
    }
    @include e(switch_tip) {
        margin-top: -15px;
        margin-left: 30px;
        font-size: 13px;
        color: $brand-red;
    }
}

@include b(invest_tab) {
    margin-top :0;
    border: 1px solid $brand-border-color;
    border-top: none;
    background-color: $gray-lightest;

    @include e(item) {
        margin-bottom: -3px !important;
        >a {
            margin-left: -1px;
            padding: 20px !important;
            border-radius: 0 !important;
            font-size: 16px;
            color: $brand-primary;

            &:hover,
            &:focus {
                border: 1px solid transparent !important;
                background-color: transparent !important;
            }
        }
        
        &.active a{
            color: $gray-dark !important;
            border: 1px solid $brand-border-color !important;
            border-top: none !important;
            border-bottom: none !important;
            background-color: $brand-white !important;

            &:hover,
            &:focus {
                color: $gray-dark !important;
                border: 1px solid $brand-border-color !important;
                border-top: none !important;
                border-bottom: none !important;
                background-color: $brand-white !important;
            }
        }

        
    }
}

@include b(invest_tab_content) {
    min-height: 700px;
    padding: 15px;
    border: 1px solid $brand-border-color;
    border-top: none;
    background-color: $brand-white;
}