@include b(line_chart_pnl) {
    padding: 5px 30px 30px;

    @include e(title) {
        font-weight: 700;
        color: $gray-light;
    }

    @include e(chart) {
        margin-top: 30px;

        .line_chart {
            width: 650px;
        }
    }
}

@include b(line_chart) {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @include e(loading_img) {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        margin-top:-25px;
        margin-left:-25px;
    }

    @include e(value_y) {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    @include e(value_y-pos) {
        @extend .line_chart__value_y;
        color: $brand-success;
    }

    @include e(value_y-neg) {
        @extend .line_chart__value_y;
        color: $brand-danger;
    }
}

@include b(trade_summary) {
    $trade_summary: &;

    @include e(h_divider) {
        height: 1px;
        margin: 15px;
        background-color: $brand-border-color;
    }

    @include e(v_divider) {
        position: absolute;
        top: 10px;
        width: 1px;
        height: 100px;
        background-color: $brand-border-color;
    }

    @include e(panel) {
        padding: 0;
        text-align: center;

        >h4 {
            font-size: 16px;
            font-weight: 700;
        }

        @include e(percent-profit, $trade_summary) {
            font-size: 32px;
            font-weight: 700;
            color: $brand-success;
        }

        @include e(percent-deficit, $trade_summary) {
            @extend .trade_summary__percent-profit;
            color: $brand-danger;
        }

        @include e(amount, $trade_summary) {
            font-size: 32px;
            font-weight: 700;
        }

        @include e(number, $trade_summary) {
            font-size: 32px;
            font-weight: 700;
        }

        @include e(tips, $trade_summary) {
            color: $gray-lighter;
        }
        
    }
}

@include b(trade_data) {
    $trade_data: &;
    padding: 15px;

    .col-xs-1 {
        height: 150px;
        line-height: 150px;
        text-align: center;
    }
    .col-xs-5 {
        height: 150px;
    }
    .col-xs-6 {
        height: 150px;
        text-align: center;
    }

    @include e(title) {
        font-size: 28px;
        font-weight: 700;
    }

    @include e(tips) {
        color: $gray-light;
    }

    @include e(chart) {
        padding: 0;
    }

    @include e(chart_intro) {
        padding-left: 0;

        h2 {
            margin-top: 35px;
            font-size: 38px;
        }
    }

    @include e(detail) {
        padding-left: 50px;
        
        @include e(profit, $trade_data) {
            line-height: 40px;
            border-bottom: 1px solid $brand-border;
            
            &:last-child {
                border-bottom: none;
            }
            >span {
                float: right;
                font-size: 16px;
                font-weight: 700;
                color: $brand-success;
            }
            
        }

        @include e(deficit, $trade_data) {
            line-height: 40px;
            border-bottom: 1px solid $brand-border;
        
            >span {
                float: right;
                font-size: 16px;
                font-weight: 700;
                color: $brand-danger;
            }
            
        }
    }
}

@include b(donut_chart) {
    position: relative;
    width: 150px;
    margin-left: auto;
    margin-right: auto;

    @include e(loading_img) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}