@include b(asset_curve) {
    padding: 5px 30px 30px;

    @include e(title) {
        float: left;
        font-weight: 700;
        color: $gray-light;
    }
}

@include b(asset_summary) {
    $asset_summary: &;

    @include e(h_divider) {
        height: 1px;
        margin: 15px;
        background-color: $brand-border-color;
    }

    @include e(v_divider) {
        position: absolute;
        top: 0;
        width: 1px;
        height: 100px;
        background-color: $brand-border-color;
    }
    @include e(panel) {
        text-align: center;

        @include e(percent-profit, $asset_summary) {
            font-size: 32px;
            font-weight: 700;
            color: $brand-green;
        }

        @include e(percent-deficit, $asset_summary) {
            @extend .asset_summary__percent-profit;
            color: $brand-red;
        }

        @include e(amount, $asset_summary) {
            font-size: 32px;
            font-weight: 700;
        }

        @include e(number, $asset_summary) {
            font-size: 32px;
            font-weight: 700;
        }

        @include e(tips, $asset_summary) {
            color: $gray-lighter;
        }

        >h4 {
            font-size: 16px;
            font-weight: 700;
        }
    }
}

@include b(transaction_data) {
    $transaction_data: &;
    padding: 15px;

    .col-xs-1 {
        height: 150px;
        line-height: 150px;
        text-align: center;
    }
    .col-xs-5 {
        height: 150px;
    }
    .col-xs-6 {
        height: 150px;
        text-align: center;
    }

    @include e(title) {
        font-size: 28px;
        font-weight: 700;
    }

    @include e(tips) {
        color: $gray-light;
    }

    @include e(graph) {
        padding: 0;
    }

    @include e(graph_intro) {
        padding-left: 0;

        h2 {
            margin-top: 35px;
            font-size: 38px;
        }
    }

    @include e(order) {
        padding-bottom: 30px;
    }
    @include e(order_detail) {
        padding-left: 50px;
        
        @include e(profit_detail, $transaction_data) {
            line-height: 40px;
            border-bottom: 1px solid $brand-border-color;
            
            &:last-child {
                border-bottom: none;
            }
            >span {
                float: right;
                font-size: 16px;
                font-weight: 700;
                color: $brand-green;
            }
            
        }

        @include e(deficit_detail, $transaction_data) {
            line-height: 40px;
            border-bottom: 1px solid $brand-border-color;
        
            >span {
                float: right;
                font-size: 16px;
                font-weight: 700;
                color: $brand-red;
            }
            
        }
    }
}
