@include b(invest_summary) {

    .content_layout {
        border: none;
        background-color: #fff;
    }

    .content_layout__sidebar {
        width: 218px;
    }
}

@include b(profile){
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    hr {
        border: 0 ;
        background-color:$brand-border-color;
        height:1px;
        margin-top: 20px;
        clear:both;
    }

    @include b(profile_head){

        @include e(title){
            font-weight: 600;
            font-size: 15px;
        }
    }

    @include b(profile-one){
        overflow: hidden;
        height: 35px;
        font-size: 15px;
        @include e(name){
            float:left;
        }
        @include e(yl){
            float:right;
            font-weight: 700;
            color:#3c9300;
        }
        @include e(sl){
            float:right;
            font-weight: 700;
            color:$gray-dark;
        }
        @include e(zn){
            float:right;
            font-weight: 700;
            color:#3c9300;
        }
        @include e(zc){
            float:right;
            font-weight: 700;
            color:#cc3344;
        }
    }
    @include e(ptime){
        font-size: 12px;
        margin-top: 10px;
    }
}