/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.cm-enter, .repeated-item.cm-move {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;
  opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
  opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/


.cm-enter {
  -webkit-animation: 1s fade-in;
  -moz-animation: 1s fade-in;
  -o-animation: 1s fade-in;
  animation:1s fade-in;
  z-index: 100;
  opacity:1 !important;
}

.cm-leave {
  -webkit-animation: 1s fade-out;
  -moz-animation: 1s fade-out;
  -o-animation: 1s fade-out;
  animation: 1s fade-out;
  z-index:99;

  }


@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }


@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
