@include b(modal_comments_area) {
    textarea{
        width: 100%;
        margin-top: 10px;
    }
}
@include b(focus_name){
    font-weight: 600;
    color: $brand-primary;
    font-size:17px;
    cursor:pointer;
}

@include b(tramsmit){
    background-color: #f2f2f5 !important;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    @include e(focus_name){
        color: $brand-primary;
        font-size:15px;
        cursor:pointer;
    }
    @include e(ptime){
        font-size:10px;
        color:$gray-lighter
    }
    @include  e(content){
        font-size:12px;
        span.focus_name{
          font-size:15px !important;
        }

    }
    @include b(tramsmit_other_info){
        float: right;
        color: $brand-primary;
        font-size:13px;
        clear:both;
        span{
          cursor:pointer;
          &:hover{
            color:$brand-border-color;
          }
        }
    }
}

@include b(communicateinfo){
    min-height: 800px;
    padding: 18px;
    background-color: $brand-white;
    border-right: 1px solid $brand-border-color;;
    hr {
        border: 0 ;
        background-color:$brand-border-color;
        height:1px;
        margin-top: 20px;
        clear:both;
    }
    @include e(ptime){
        font-size:12px;
        color:$gray-lighter;
        margin-top:5px
    }
    @include e(user-icon){
        height:48px;
        width:48px;
        float:left;
        border: 1px solid transparent;
        border-color:$brand-border-color;
    }
    @include e(other_info){
        float: right;
        font-weight: 600;
        color: $brand-primary;
        font-size:15px;
        clear:both;
        span{
            cursor:pointer;
            &:hover{
              color:$brand-border-color;
            }
        }
    }
    @include b(head){
        witdh : 480;
        margin-top: 10px;
        @include e(title){
            font-weight: 500;
            font-size: 25px;
            letter-spacing:4px;
            font-color:$gray-dark;
        }

        @include b(head_menu){
            float:right;
            height:34px;
            @include e(btn) {
                @extend .btn;
                @extend .btn-default;
                font-weight:600;
                position:relative;
                width:126px;
                left:0;
                top:0;
                border-color:$brand-border-color;
                color:#999999;
                cursor:pointer;
                &:hover{
                  background-color: #fff;
                  border-color: $brand-border-color;
                }
            }

            @include b(border_bottom){
                border-bottom: 1px solid transparent;
                border-color:$brand-border-color;
            }
            ul {
                min-width:126px;
                top:95%;
                padding:0px;
                margin-top: 0px;
                li{
                    line-height: 40px;
                }
                li > a{
                    padding: 6px 20px;
                }
                li>a:hover,
                li>a:focus{
                    cursor:pointer;
                    text-decoration: none;
                    color: $dropdown-link-hover-color;
                    background-color: $dropdown-link-hover-bg;
                }
            }
        }

        hr{
            margin-top: 30px;
        }
    }
    @include b(publisharea){
        min-height: 88px;
        _height:88px;
        overflow:hidden;
        @include b(clearTop){
            margin-top: 0px !important;
        }
        ::selection{
          color:#FF0000;
        }
        @include b(topicOrComment){
            float:right;
            min-height:88px;
            width:415px;
            position:relative;
            margin-top: 10px;
            textarea {
               width:100%;
               min-height:50px ;
               max-height:70px;
               resize:none;

            }
            @include e(doToast){
             position: absolute;
             left:150px;
             top:50px;
             opacity:0;
            }

            @include b(do_style){
                margin-top: 10px;
                overflow:hidden;
                @include e(remain){
                    color:$gray-lighter;
                }
                @include e(publish){
                    @extend .btn;
                    @extend .btn-default;
                    float:right;
                    border-color:$brand-border-color;
                    color:#999999;
                    color: #606060;
                    border: solid 1px #b7b7b7;
                    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
                    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
                    box-shadow: 0 1px 2px rgba(0,0,0,.2);
                    &:hover{
                       background-color: #fff;
                       border-color: $brand-border-color;
                    }
                }
            }
        }

    }



    @include b(communicatelist){

        @include b(communicate) {
            height:100%;
            overflow:hidden;
            @include m(text) {
              float:right;
              width:415px;
            }

            @include m(out){
                float:right;
                width:415px;

                @include b(outinfo){
                    border: 1px solid transparent;
                    border-color:$brand-border-color;
                    height:76px;
                    margin-bottom: 18px;
                    @include e(icon){
                        width:118px;
                        height:76px;
                        border:0;
                        padding:8px;
                        display:inline;
                        float:left;
                        background: $gray-lightest;
                        margin-bottom: 1px;
                        border-right: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                        border-color:$brand-border-color;
                    }
                    @include b(base_info){
                        min-height:76px;
                        min-width:140px;
                        float:left;
                        @include e(name){
                            margin:12px 12px;
                            width:140px;
                            font-size:18px;
                            font-weight:600;
                            color:$brand-primary;
                        }
                        @include e(htime){
                          margin:12px 12px;
                        }
                    }
                    @include e(profit){
                        float:right;
                        height:76px;
                        font-size:20px;
                        margin-top:24px;
                        margin-right: 20px;
                        font-weight: 600;
                        color:$brand-green;
                    }
                }
            }
            @include m(copy){
                float: right;
                width: 415px;
                height: 164px;
                @include b(copy_info){
                    position: relative;
                    border: 1px solid transparent;
                    border-color:$brand-border-color;
                    overflow:hidden;
                    @include e(icon){
                        height: 103px;
                        width: 103px;
                        float:left;
                    }
                    @include b(copy_base_info){
                        padding: 10px 10px;
                        width: 160px;
                        float: left;
                    }
                    @include b(docopy){
                        @extend .btn;
                        @extend .btn-primary;
                        width:74px;
                        position: absolute;
                        right: 10px;
                        top: 60px;
                    }
                }

            }
        }
    }
    @include b(loadmore){
        text-align:center;
        margin-left: auto;
        margin-right:auto;
        background: $gray-lightest;
        height: 30px;
        line-height: 30px;
        a{
            cursor:pointer;
            text-align:center;
            margin-top: auto;
            margin-bottom:auto;
        }
    }
}

