@include b(content_layout) {
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid $brand-border-color;
    background-color: $gray-lightest;
    @include e(content) {
        @extend .col-lg-6;
        width: 520px;
        padding: 0;
    }

    @include e(sidebar) {
        @extend .col-lg-3;
        width: 248px;
        padding: 0;
    }
}