@include b(layout) {

    @include b(bd_col_2) {
        @extend .container;
        width: $container-main;

        @include e(menu) {
            @extend .col-lg-3;
            width: 230px;
            padding: 0;
        }

        @include e(content) {
            @extend .col-lg-9;
            width: 730px;
            padding: 0;
        }
    }
}
