@include b(share){
    margin-left: 20px;
    margin-top: 30px;
    margin-right: 20px;
    img{
        width: 28px;
        height:28px
    }
    p{
        font-weight: 600;
        font-size: 15px;
    }
    span{
        margin-left: 20px;
    }
    hr {
      border: 0 ;
      background-color:$brand-border-color;
      height:1px;
      margin-top: 20px;
      clear:both;
    }
    @include b(area){
        margin-left: 10px;
        @include e(one){
            margin-top: 20px;
            cursor:pointer;
        }
    }

}
