@include b(personal_info) {
    margin-right: 5px;

    @include e(panel) {
        padding: 15px;
        border-bottom: 1px solid $brand-border-color;

        &:last-child {
            border-bottom: none;
        }
    }

    @include b(basic_info) {
        $basic_info: &;

        @include e(photo_wrap) {
            width: 150px;
            height: 150px;
            margin: -11px auto 0;
            @include box-shadow($brand-border-color 0 0 0 1px);

            &:hover {
                @include box-shadow($brand-border-color 0 0 10px 1px);
            }

            @include e(photo, $basic_info) {
                width: 100%;
                height: 100%;
            }
        }

        @include e(name) {
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 30px;
            font-weight: 700;
            overflow:hidden;

        }

        @include e(location) {

        }
    }

    @include b(MT4) {
        $MT4: &;

        @include e(title, $MT4) {
            font-size: 16px;
            font-weight: 700;
        }

        @include e(detail, $MT4) {
            
            span {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }

    @include b(social_counter) {
        $social_counter: &;

        font-size: 0;

        @include e(counter_itm) {
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 50%;
            text-align: center;

            &:hover,
            &:focus {
                text-decoration: none;
                cursor: pointer;
            }
            
            >h4 {
                font-size: 20px;
                font-weight: 700;
                color: $brand-primary;
            }
            >p {
                font-size: 14px;
                color: $gray-lighter;
            }
        }

        @include e(divider) {
            position: absolute;
            top: 10px;
            left: 0;
            display: block;
            width: 1px;
            height: 50px;
            background-color: $brand-border-color;
        }
    }

    @include b(real_account) {
        $real_account: &;

        .btn-primary {
            margin-top: 10px;
            padding: 6px 20px;
            font-size: 16px;
        }

        @include e(title) {
            font-weight: 700;
        }

        @include e(percent) {

            >span {
                font-size: 28px;
                font-weight: 700;
             }
        }
    }
}

@include b(personal_ad) {

    @include b(equity_pnl) {
        margin-bottom:18px;
        padding:15px;

        @include e(title) {
            margin-top: 0;
            padding-bottom: 15px;
            border-bottom: 1px solid $brand-border-color;
            text-align: left;
            font-size: 16px;
            font-weight: 700;
        }

        @include e(number) {
            margin-bottom: 20px;
            text-align: right;
            font-size:38px;
            font-weight: 700;
        }

        @include e(time) {
            text-align:center;
            font-size: 13px;
            color:$gray-lighter;
        }

        @include e(to_detail) {
            font-size: 16px;
        }

    }

    @include e(ad_pnl) {
        padding:0 15px;
        border-top: 1px solid $brand-border-color;
        border-bottom: 1px solid $brand-border-color;

        img {
            display: block;
            width:100%;
            margin:15px 0;
        }
    }

    @include b(customer_service) {
        padding: 15px;

        @include e(tip) {
            font-size: 18px;
            font-weight: 700;
        }

        @include e(title) {
        }

        @include e(tel_number) {
            font-size: 24px;
            font-weight: 700;
        }

        @include e(e_mail) {
            font-size: 20px;
            font-weight: 700;
        }

        @include e(help_btn) {
            margin:0 12px;
        }
    } 
}

@include b(user_info) {
    margin-right: 5px;
    
    @include e(panel) {
        @extend .personal_info__panel;
    }

    @include b(social_pnl) {
        padding: 10px 0;
        font-size: 0;
        
        @include e(counter) {
            display: inline-block;
            vertical-align: top;
            width: 35%;

            &:hover,
            &:focus {
                text-decoration: none;
            }

            h3 {
                margin-top: 0;
                font-weight: 700;
                color: $brand-light;
            }
            span {
                font-size: 13px;
                color: $gray-lighter;
            }
        }

        @include e(copy) {
            display: inline-block;
            vertical-align: top;
            width: 65%;
            line-height: 55px;
            text-align: center;
        }

        @include e(follow) {
            @extend .social_pnl__copy;
        }
    }

    @include b(copy_btn) {
        @extend .btn;
        @extend .btn-primary;
        width: 100px;
        font-size: 16px;
        @include gradient-vertical($brand-light-primary, $brand-dark-primary);

        &:hover {
            background: $brand-dark-primary;
        }

        @include e(icon) {
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            @include img-normal($image_path + 'copy_follow.png');
        }
    }

    @include b(copied_btn) {
        @extend .copy_btn;

        @include e(icon) {
            @extend .copy_btn__icon;
            background-position: -20px 0;
        }
    }

    @include b(follow_btn) {
        @extend .btn;
        @extend .btn-default;
        width: 100px;
        font-size: 16px;
        @include gradient-vertical($gray-lightest, $brand-light-border);

        &:hover {
            background: $brand-light-border;
        }

        @include e(icon) {
           @extend .copy_btn__icon;
           background-position: 0 -20px; 
        }
    }

    @include b(followed_btn) {
        @extend .follow_btn;

        @include e(icon) {
            @extend .follow_btn__icon;
            background-position: -20px -20px;
        }
    }
}
