
@include b(topicDetail){

    overflow:hidden;
    width:520px;
    background-color: $brand-white;
    border: 1px solid #ddd;
    padding: 20px;
    min-height: 800px;
    hr {
        border: 0 ;
        background-color:$brand-border-color;
        height:1px;
        clear:both;
    }
    img{
        height:48px;
        width:48px;
        float:left;
        border: 1px solid transparent;
        border-color:$brand-border-color;
    }
    @include b(delete-topic-confirm){
        @extend .alert-success;
        position: absolute;
        z-index: 99;
        text-align: center;
        margin:0 auto;
        widht: 300px
    }
    @include b(topic-info){
        float:right;
        width:415px;
        @include b(topic-content){
            overflow:hidden;
            @include b(topic-other-info){
                float:right;
                font-weight: 600;
                color: $brand-primary;
                font-size:15px;
                clear:both;
                span{
                    cursor:pointer;
                    &:hover{
                        color:$brand-border-color;
                    }
                }
            }
        }

        @include b(topic-comment){
            float:right;
            min-height:88px;
            width:415px;
            position:relative;
            textarea {
                width:415px;
                max-width:415px;
                min-height:50px ;
                max-height:70px;
                margin-top: 10px;
            }
        }
    }

    @include b(comments){

        width:415px;
        overflow:hidden;
        @include b(comment-info){
            float:right;
            width:357px;
            @include b(comment-info-other){
                overflow:hidden;
                .ptime{
                    float:left;
                }
                .other_info{
                    float:right;
                    font-weight: 600;
                    color: $brand-primary;
                    font-size:15px;
                    span{
                        cursor:pointer;
                        &:hover{
                            color:$brand-border-color;
                        }
                    }
                }
            }
        }
        @include b(comment-lists){
            background-color: #eff9fd;
            border: 1px solid transparent;
            border-color:#9ddbf1;
            margin-top: 10px;
            img{
                width: 40px;
                height:40px;
            }
            hr{
                width: 327px;
                background-color:#9ddbf1;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            textarea {
                width:330px;
                max-width:330px;
                min-height:50px;
                max-height:70px;
                margin-top: 10px;
            }
            @include b(reply){
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
                @include e(area){
                    overflow: hidden;
                }
            @include e(saysome){
                position:relative;
                left:140px;
            }

            }
            @include b(comment-item){
                overflow: hidden;
                margin-left: 10px;
                margin-top: 10px;
                margin-right: 10px;
                @include b(ccContent){
                    width:285px;
                    float:right;
                    @include b(ccContent-other){
                        overflow:hidden;
                        .ptime{
                          float:left;
                        }
                        .other_info{
                            float:right;
                            font-weight: 600;
                            color: $brand-primary;
                            font-size:15px;
                            margin-right: 10px;
                            span{
                                cursor:pointer;
                                &:hover{
                                    color:$brand-border-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include b(modal-confirm){
        position: relative;
        right:20px;
        margin-bottom: 10px;
        overflow: hidden;
        >button{
            float:right;
            margin-left: 10px;
        }
    }
}
