<div class="serve_mdl">
    <button class="close" ng-click="closeModal()">X</button>
    <div class="modal-body serve_mdl__content">
        <div class="serve_mdl__logo">
            <i class="fa fa-check-circle-o"></i>
        </div>
        
        <p class="serve_mdl__intro">
            活动时间： 2015 年 6 月 1 日 —— 2015 年 7 月 31 日
        </p>
        <p class="serve_mdl__intro">
            返现规则：账户的每笔交易一标准手可返现 2 美金，以自然月为返佣周期，返佣金次月 10 日到账。
        </p>
        <p class="serve_mdl__intro">
            注意事项：
        </p>
        <p class="serve_mdl__intro">
            1. 7 月 31 日前完成入金并平仓的订单即可参加本活动。
        </p>
        <p class="serve_mdl__intro">
            2. 本活动仅限客户真实入金账户使用。    
        </p>
        <p class="serve_mdl__intro">
            3. TigerWit 老虎金融拥有本活动最终解释权。
        </p>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" href="" ng-click="toDeposit()">立即入金</a>
    </div>
</div>