<div class="communicateinfo">
    <div class = "head">
        <span class = "head__title">{{title_name}}</span>

        <div class = "head_menu" ng-show="!isSummary" ng-mouseover="showMenu()" ng-mouseleave="backMenu()">
            <button class="head_menu__btn">{{title_name}}
              <span class="caret"></span>
            </button>
            <ul  class="head_menu__drop" ng-show="showDropdown">
                <li>
                    <a ng-click="switchIdentify('rel')">与我相关的</a>
                </li>
                <li>
                    <a ng-click="switchIdentify('hot')">热门投资动态</a>
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class = "publisharea" ng-controller="PersonalTopicPublishController">
        <img class="communicateinfo__user-icon" src="/ngsrc/photo-man.png"></img>
        <div class="topicOrComment">
            <textarea name="inputContent" ng-model="inputContent" ng-change="matchTopicContent()" prompt-special-input></textarea>
            <div class = "topicOrComment__doToast" ng-class="showOrNo" >
                发表成功！
            </div>
            <div >
            </div>
            <div class = "do_style" >
                <span class="do_style__remain">剩余 {{tRemainSum}}/1024 字</span>
                <a class="do_style__publish" ng-click="publishTopic()">发表我的看法 </a>
            </div>
           </div>
    </div>

    <hr />
    <div class = "communicatelist" ng-repeat="item in mCdata">
        <div ng-if = "item['topic_type']==0" ng-controller="PersonalCommunicateDoController">
            <div class="communicate" ng-init="mData = item">
                <img class = "communicateinfo__user-icon" src="/ngsrc/photo-woman.png"></img>
                <div class="communicate-text">
                    <span class = "communicateinfo__focusname" ng-click="skipToSummary(mData.publisher_id)">{{mData['title']}}</span>
                    <tw-content-show ng-init="pContent = mData['content']"></tw-content-show>
                    <div>
                        <span class = "communicateinfo__ptime">{{mData['ptime'] | startNow }}前</span>
                        <div class = "communicateinfo__other_info">
                            <span ng-click="doSupport()">赞({{mData['support_sum']}}) </span>|
                            <span ng-click="doTransmit()"> 转发({{mData['tramsmit_sum']}}) </span>|
                            <span ng-click="showDropComment()"> 评论({{mData['comment_sum']}}) </span>|
                            <span ng-click="skipDetail()"> 详情</span>
                        </div>
                    </div>

                    <div class="topicOrComment" ng-show="commentShowToggle">
                        <textarea ng-model="inputContent" ng-change="matchCommentContent()"></textarea>
                        <div class = "topicOrComment__doToast" ng-class="showOrNo">
                            {{toastMsg}}
                        </div>
                        <div class = "topicOrComment__dostyl" >
                            <span>剩余 {{tRemainSum}}/1024 字</span>
                            <a  class="do_style__publish" ng-click="doComment()"> 评论 </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </div>


        <div ng-if = "item['topic_type']==1" ng-controller="PersonalCommunicateDoController">
            <div class="communicate" ng-init="mData = item">
                <img class = "communicateinfo__user-icon" src="/ngsrc/photo-woman.png"></img>
                <div class="communicate-out">
                    <div>
                        <span class="communicateinfo__focusname"  ng-click="skipToSummary(mData.publisher_id)">{{mData['content']['username']}}</span>
                        <span> 手动平仓 </span>
                        <span class="communicateinfo__focusname">{{mData['content']['out_type']}}</span>
                        <p class = "communicateinfo__ptime">{{mData['ptime'] | startNow}}</p>
                    </div>
                    <div class = "outinfo">
                        <img class = "outinfo__icon"></img>
                        <div class = "base_info">
                            <p class="base_info__name">{{mData['content']['out_type']}}</p>
                            <p class="communicateinfo__ptime base_info__htime">持仓7小时23分钟</p>
                        </div>
                        <span class = "outinfo__profit" >{{mData['content']['profit_point']}}%</span>
                    </div>
                    <div class = "communicateinfo__other_info">
                        <span ng-click="doSupport()">赞({{mData['support_sum']}}) </span>|
                        <span ng-click="showDropComment()"> 评论({{mData['comment_sum']}}) </span>|
                        <span ng-click="skipDetail()"> 详情</span>
                    </div>
                </div>

                <div class="topicOrComment" ng-show="commentShowToggle">
                    <textarea ng-model="inputContent"></textarea>
                    <div class = "topicOrComment__doToast" ng-class = "showOrNo">
                        {{toastMsg}}
                    </div>
                    <div class = "topicOrComment__dostyl" >
                        <span>剩余 1024/1024 字</span>
                        <a ng-click="doComment()"> 评论 </a>
                    </div>
                </div>
            </div>
            <hr/>
        </div>


        <div ng-if="item['topic_type']==2" ng-controller="PersonalCommunicateDoController">
            <div class="communicate" ng-init="mData = item">
                <img class = "communicateinfo__user-icon" src="/ngsrc/photo-woman.png"></img>
                <div class="communicate-copy">
                    <div>
                        <span class="communicateinfo__focusname" ng-click="skipToSummary(mData.content.be_follow_id)">{{mData['content']['bename']}}</span>
                        <span> 开始复制 </span>
                        <span class="communicateinfo__focusname"  ng-click="skipToSummary(mData.content.by_follow_id)">{{mData['content']['byname']}}</span>
                        <p class = "communicateinfo__ptime">{{mData['ptime']| startNow}}</p>
                    </div>
                    <div class = "copy_info">
                        <img class="copy_info__icon"></img>
                        <div class = "copy_base_info">
                            <p class="communicateinfo__focusname" ng-click="skipToSummary(mData.content.by_follow_id)" >{{mData['content']['byname']}}</p>
                            <p class="bcount">目前共 <strong>{{mData['content']['be_follow_sum']}}</strong> 名复制者</p>
                        </div>
                        <button class = "docopy">复制</button>
                    </div>
                </div>
            </div>
            <hr/>
        </div>

    </div>
    <div class="btn-loading" ng-click="loadMore()" tw-loading-more>
                <span class="btn-loading__caption">
                    点击加载更多...
                </span>
      <span class="btn-loading__icon"></span>
    </div>
</div>

