<div class="personal_info" ng-show="userType.isPersonal">

    <div class="personal_info__panel basic_info">
        <div class="basic_info__photo_wrap">
            <a href="">
                <img class="basic_info__photo" ng-show="personal.sex != undefined" ng-src="ngsrc/photo-{{ personal.sex ? 'man' : 'woman'}}.png" alt="thumbnail" >
            </a>
        </div>
        <h3 class="basic_info__name">{{personal.username}}</h3>
        <div class="basic_info__location">
            <p class="basic_info__region">北京市，朝阳区</p>
            <p class="basic_info__nation">
                <i class="fa fa-location-arrow"></i>
                中国
            </p>              
        </div>
    </div>

    <div class="personal_info__panel MT4">
        <h5 class="MT4__title">MT4 信息</h5>
        <p class="MT4__detail" ng-show="personal.real_id">
            真实账号：
            <span>{{personal.real_id}}</span>
        </p>
        <p class="MT4__detail" ng-show="personal.demo_id">
            模拟账号：
            <span>{{personal.demo_id}}</span>
        </p>
    </div>
   
   <div class="personal_info__panel social_counter">
        <div class="social_counter__counter_itm">
            <h4>{{personal.copiedTraderSum}}</h4>
            <p>复制</p>
        </div>
        <div class="social_counter__counter_itm">
            <h4>{{personal.copierSum}}</h4>
            <p>跟随</p>
        </div>
        <div class="social_counter__counter_itm">
            <h4>{{personal.followingSum}}</h4>
            <p>关注</p>
        </div>
         <div class="social_counter__counter_itm">
            <h4>{{personal.fanSum}}</h4>
            <p>粉丝</p>
        </div>
    </div>  

    <div class="personal_info__panel real_account " ng-show="personal.real_id">
        <h5 class="real_account__title">开通真实账户进行交易</h5>
        <p class="real_account__percent">
            当前进度 
            <span>20%</span>
        </p>
        <a class="real_account__open_btn btn btn-md btn-primary" href="" ng-click="openModal()">
            开通真实账户
        </a>  
    </div>
</div>

<div class="user_info" ng-show="!userType.isPersonal">
    <div class="user_info__panel basic_info">
        <div class="basic_info__photo_wrap">
            <a href="">
                <img class="basic_info__photo" ng-src="ngsrc/photo-{{ user.sex ? 'man' : 'woman'}}.png" alt="**" >
            </a>
        </div>
        <h3 class="basic_info__name">{{user.username}}</h3>
        <div class="basic_info__location">
            <p class="basic_info__region">北京市，朝阳区</p>
            <p class="basic_info__nation">
                <i class="fa fa-location-arrow"></i>
                中国
            </p>              
        </div>
    </div>

</div>
