<div class="personal_info">

    <div class="personal_info__panel basic_info">
        <div class="basic_info__photo_wrap">
            <a href="">
                <img class="basic_info__photo" ng-show="profile.sex != undefined" ng-src="ngsrc/photo-{{ profile.sex ? 'man' : 'woman'}}.png" alt="thumbnail" >
            </a>
        </div>
        <h3 class="basic_info__name">{{profile.username}}</h3>
        <div class="basic_info__location">
            <p class="basic_info__region">北京市，朝阳区</p>
            <p class="basic_info__nation">
                <i class="fa fa-location-arrow"></i>
                中国
            </p>              
        </div>
    </div>

    <div class="personal_info__panel MT4">
        <h5 class="MT4__title">MT4 信息</h5>
        <p class="MT4__detail" ng-show="profile.real_id">
            真实账号：
            <span>{{profile.real_id}}</span>
        </p>
        <p class="MT4__detail" ng-show="profile.demo_id">
            模拟账号：
            <span>{{profile.demo_id}}</span>
        </p>
    </div>
   
   <div class="personal_info__panel social_counter">
        <div class="social_counter__counter_itm">
            <h4>9999</h4>
            <p>关注</p>
        </div>
         <div class="social_counter__counter_itm">
            <h4>9999</h4>
            <p>粉丝</p>
        </div>
         <div class="social_counter__counter_itm">
            <h4>{{profile.copy_count}}</h4>
            <p>复制</p>
        </div>
    </div>  

    <div class="personal_info__panel real_account " ng-show="profile.real_id">
        <h5 class="real_account__title">开通真实账户进行交易</h5>
        <p class="real_account__percent">
            当前进度 
            <span>20%</span>
        </p>
        <a class="real_account__open_btn btn btn-md btn-primary" href="" target="_blank">
            开通真实账户
        </a>  
    </div>

   <!--  <ul class="nav nav-pills nav-stacked">
        <li>
            <a href="#/personal/index" ng-class="{'active': stateName === 'index'}">
                <span class="icon-nav-home"></span>首页
            </a>
        </li>
        <li>
            <a href="/#/personal/deposit"  ng-class="{'active': stateName === 'deposit'}"><span class="icon-nav-deposit"></span> 入金</a>
        </li>
        <li>
            <a href="/#/personal/withdraw" ng-class="{'active':  stateName === 'withdraw'}"><span class="icon-nav-withdraw"></span>出金</a>
        </li>
        <li>
            <a href="#/personal/history" ng-class="{'active': stateName === 'history'}"><span class="icon-nav-history"></span>交易历史</a>
        </li>
        <li class="">
            <a href="#/personal/notify" ng-class="{'active': stateName === 'notify'}"><span class="icon-nav-notify"></span>通知</a>
        </li>
    </ul> -->
</div>

