<div class="personal_info" ng-if="userType.isPersonal">

    <div class="personal_info__panel basic_info">
        <div class="basic_info__photo_wrap">
            <a href="">
                <img class="basic_info__photo"  ng-src="{{personal.lgAvatar}}" alt="**" >
            </a>
        </div>
        <h3 class="basic_info__name">{{personal.username}}</h3>
        <div class="basic_info__location">
            <p>
                {{personal.location.state_name}}
                {{personal.location.city_name}}
            </p>
            <p>
                <i class="icon-flag-{{personal.location.world_code.toLowerCase()}}"></i>
                {{personal.location.world_name}}
            </p>              
        </div>
    </div>

    <div class="personal_info__panel MT4">
        <h5 class="MT4__title">MT4 信息</h5>
        <p class="MT4__detail" ng-show="personal.real_id">
            真实账号：
            <span>{{personal.real_id}}</span>
        </p>
        <p class="MT4__detail" ng-show="personal.demo_id">
            模拟账号：
            <span>{{personal.demo_id}}</span>
        </p>
    </div>
   
   <div class="personal_info__panel social_counter">
        <a class="social_counter__counter_itm" ng-href="#/invest/{{personal.user_code}}/relationship?type=copiedTrader">
            <h4>{{personal.copiedTraderSum}}</h4>
            <p>复制</p>
        </a>
        <a class="social_counter__counter_itm" ng-href="#/invest/{{personal.user_code}}/relationship?type=copier">
            <h4>{{personal.copierSum}}</h4>
            <p>跟随</p>
        </a>
        <a class="social_counter__counter_itm" ng-href="#/invest/{{personal.user_code}}/relationship?type=following">
            <h4>{{personal.followingSum}}</h4>
            <p>关注</p>
        </a>
         <a class="social_counter__counter_itm" ng-href="#/invest/{{personal.user_code}}/relationship?type=fan">
            <h4>{{personal.fanSum}}</h4>
            <p>粉丝</p>
        </a>
    </div>  

    <div class="personal_info__panel real_account">
        <h5 class="real_account__title">开通真实账户进行交易</h5>
        <p class="real_account__percent">
            当前进度 
            <span ng-if="personal.step === 1">0%</span>
            <span ng-if="personal.step === 2">30%</span>
            <span ng-if="personal.step === 3">70%</span>
            <span ng-if="personal.step === 4">100%</span>
        </p>
        <button class="btn btn-primary" ng-click="registerReal()">
            开通真实账户
        </button>  
    </div>
</div>

<div class="user_info" ng-if="!userType.isPersonal">
    <div class="user_info__panel basic_info">
        <div class="basic_info__photo_wrap">
            <a href="">
                <img class="basic_info__photo" ng-src="{{user.lgAvatar}}" alt="**" >
            </a>
        </div>
        <h3 class="basic_info__name">{{user.username}}</h3>
        <div class="basic_info__location">
            <p class="basic_info__region">
                {{user.location.state_name}}
                {{user.location.city_name}}
            </p>
            <p class="basic_info__nation">
                <i class="icon-flag-{{user.location.world_code.toLowerCase()}}"></i>
                {{user.location.world_name}}
            </p>              
        </div>
    </div>
    <div class="user_info__panel">
        <div class="social_pnl">
            <a class="social_pnl__counter" ng-href="#/invest/{{user.userCode}}/relationship?type=copier">
                <h3>{{user.copierSum}}</h3>
                <span>跟随</span>
            </a>
            <div class="social_pnl__copy">
                <button class="copy_btn" ng-show="!user.isCopy" ng-click="openCopyModal('sm')">
                    <i class="copy_btn__icon"></i>
                    复制
                </button>
                 <button class="copied_btn btn btn-primary" ng-show="user.isCopy" ng-click="openCopyModal('sm')">
                    <i class="copied_btn__icon"></i>
                    已复制
                </button>
            </div>
        </div>
        <div class="social_pnl">
            <a class="social_pnl__counter" ng-href="#/invest/{{user.userCode}}/relationship?type=fan">
                <h3>{{user.fanSum}}</h3>
                <span>粉丝</span>
            </a>
            <div class="social_pnl__follow">
                <button class="follow_btn btn btn-default" ng-show="!user.isFollow" ng-click="follow()">
                    <i class="follow_btn__icon"></i>关注
                </button>
                <button class="followed_btn btn btn-default" ng-show="user.isFollow" ng-click="cancelFollow()">
                    <i class="followed_btn__icon"></i>已关注
                </button>
            </div>
        </div>
    </div>
</div>
