<div class ="row layout">
  <div class="col_2">
      <div class="bcol_2__menu">
         <div>
            <p消息中心</p>
            <p>您一共有2条未读的信息</p>
            <hr/>
            <div>
              <button>我的消息</button>
              <button>系统消息</button>
            </div>
         </div>
      </div>
      <div class="bcol_2__content">
         <div>
            <div class="msg__head">
                <h1>系统消息</h1>
                <span>您有2条未读信息</span>
            </div>
            <div class="msg_o">
                <img></img>
                <div class="msg__o__content">
                    <span>[新消息]</span>
                    <p>亲爱的用户，你已成功入金 $500.00。 请在交易页并切换到真实帐户，或登录MT4终端查看你的入金情况。Formax衷心祝福你取得辉煌的投资胜绩。</p>
                    <div>
                      <span class="ctime">2014-12-12</span>
                      <a>删除</a>
                    </div>
                </div>
            </div>
         </div>
      </div>
  </div>
</div>
