<div class="personal_ad">

    <div class="equity_pnl text-center">
        <h5 class="equity_pnl__title">当前净值</h5>
        <p class="equity_pnl__number" tw-set-font-size watched-val="realEquityInfo.equity">
            <span>{{realEquityInfo.equity || 0 | currency}}</span>
        </p>
        <p class="equity_pnl__time">
            数据更新于
            <span>{{realEquityInfo.timestamp | dateFormatter: 'UTC'}}</span>
        </p>
        <a class="equity_pnl__to_detail btn btn-primary" href="#/invest/{{personal.user_code}}/summary">
            查看投资详情
            <i class="fa fa-angle-right"></i>
        </a>
    </div>

    <div class="personal_ad__ad_pnl">
        <a  href="https://www.tigerwit.com/about/download" target="_blank">
            <img src="images/marketing/ad-download.png" alt="下载交易软件" />
        </a>
        <a href="" ng-click="openModal()" target="_blank">
            <img src="images/marketing/activity.png" alt="现金返还" />
        </a>
    </div>

    <div class="customer_service">
        <p class="customer_service__tip">
            需要帮助<i class="fa fa-question"></i>
        </p>
        <h5 class="customer_service__title">
            24 小时客服电话
        </h5>
        <p class="customer_service__tel_number">
            400 809 8509
        </p>
        <h5 class="customer_service__title">
            电子邮箱
        </h5>
        <p class="customer_service__e_mail">
            cs@tigerwit.com
        </p>
        <a class="customer_service__help_btn btn btn-primary" href="https://www.tigerwit.com/blog/help/rules" target="_blank">
            新手指南
        </a>
        <a class="customer_service__help_btn btn btn-primary" href="" onclick="OpenChat()">
            在线客服
        </a>
    </div>
</div>
