<div class="personal_ad">

    <div class="equity_pnl text-center">
        <h5 class="equity_pnl__title">当前净值</h5>
        <p class="equity_pnl__number" tw-set-font-size watched-val="realEquityInfo.equity">
            <span>{{realEquityInfo.equity || 0 | currency}}</span>
        </p>
        <p class="equity_pnl__time">
            数据更新于
            <span>2014/12/08 13:34</span>
            GMT
        </p>
        <a class="equity_pnl__to_detail btn btn-primary" href="#/invest/{{personal.user_code}}/summary">
            查看投资详情
            <i class="fa fa-angle-right"></i>
        </a>
    </div>

    <div class="personal_ad__ad_pnl">
        <a  href="#/static/download" target="_blank">
            <img src="/images/marketing/ad-download.png" alt="下载交易软件" />
        </a>
        <a href="#/static/bonus" target="_blank">
            <img src="/images/marketing/ad-invite.png" alt="邀请好友得增金" />
        </a>
    </div>

    <div class="customer_service">
        <p class="customer_service__tip">
            需要帮助<i class="fa fa-question"></i>
        </p>
        <h5 class="customer_service__title">
            24 小时客服电话
        </h5>
        <p class="customer_service__tel_number">
            400 809 8509
        </p>
        <h5 class="customer_service__title">
            电子邮箱
        </h5>
        <p class="customer_service__e_mail">
            support@tigerwit.com
        </p>
        <a class="customer_service__help_btn btn btn-primary">新手指南</a>
        <a class="customer_service__help_btn btn btn-primary">在线留言</a>
    </div>

    <!-- <div class="money-total" equity-info="{{equityInfo.equity}}" font-fit>
        <span>${{equityInfo.equity || 0}}</span>
    </div>
    <div class="btn-wrapper">
        <a href="#/personal/deposit" class="btn btn-danger btn-md"><span class="icon-btn-deposit"></span>入金</a>
        <a href="#/personal/withdraw" class="btn btn-info  btn-md"><span class="icon-btn-withdraw"></span>出金</a>
    </div> -->
</div>


 <!-- <div class="personal-side-block">
    <a href="#/static/download" target="_blank" class='poster'>
        <img src="/images/marketing/ad-download.png" alt="下载交易软件" />
    </a>
</div>
<div class="personal-side-block">
    <a href="#/static/bonus" target="_blank" class="poster">
        <img src="/images/marketing/ad-invite.png" alt="邀请好友得增金" />
    </a>
</div>
<hr class="personal-side-divider featurette-divider">
<div class="personal-side-contact">
    客服电话: <span class="side-contact-icon">400-809-8509</span>
</div> -->
