<div class="share">
    <div class = "share__head">
      <p>分享此话题到</p>
      <hr/>
    </div>
    <div class="area">
        <div class = "area__one">
            <img ng-src="/ngsrc/xinlang.png">
            <span>新浪微博</span>
        </div>

        <div class = "area__one">
            <img ng-src="/ngsrc/qzone.png">
            <span>QQ空间</span>
        </div>

        <div class = "area__one">
            <img ng-src="/ngsrc/weibo.png">
            <span>腾讯微博</span>
        </div>

        <div class = "area__one">
            <img ng-src="/ngsrc/facebook.png">
            <span>Facebook</span>
        </div>

        <div class = "area__one">
            <img ng-src="/ngsrc/twitter.png">
            <span>Twitter</span>
        </div>

    </div>
    <div>
      <hr/>
    </div>

</div>
