<div class = "topicDetail" style="position:relative;">
    <div tw-loading-img></div>

    
    <img src="/avatar/{{topicDetailData.publisher_id}}_50.jpg"/>
    <div class="topic-info">
    
        <div class="topic-content">



            <span class = "focus_name" ng-click="skipToSummary(topicDetailData.publisher_id)">{{topicDetailData.publisher_name}}</span>


            <div ng-if = "topicDetailData.topic_type==1" class="communicate-out">
                <div>
                    <span class="focus_name"  ng-click="skipToSummary(topicDetailData.publisher_id)">{{topicDetailData['username']}}</span> 
                    <span> 手动平仓 </span>
                    <span class="focus_name" ng-click="skipToSymbol(topicDetailData['relation']['out_type'])">{{topicDetailData['relation']['out_type']}}</span>
                    <p class = "communicateinfo__ptime">{{topicDetailData['ptime'] | startNow}}前</p>
                </div>
                <div class = "outinfo">
                    <span class = "outinfo__icon icon-forex-large-{{topicDetailData['relation']['out_type'].toLowerCase()}}"></span>
                    <div class = "base_info">
                        <p class="base_info__name" ng-click="skipToSymbol(topicDetailData['relation']['out_type'])">{{topicDetailData['relation']['out_type']}}</p>
                        <p class="communicateinfo__ptime base_info__htime">持仓时间 {{topicDetailData['relation']['close_time']-topicDetailData['relation']['open_time']|startNow}}</p>
                    </div>
                    <span class = "outinfo__profit" >{{topicDetailData['relation']['profit_point']}}%</span>
                </div>
            </div>



            <tw-content-show  was='true' ng-show="content"  info="content" map = "mapKeyVal" ng-if="topicDetailData.topic_type==0 || topicDetailData.topic_type==3" ></tw-content-show>
            <div class="tramsmit" ng-if="topicDetailData.topic_type==3">
                <span class = "tramsmit__focus_name">{{topicDetailData['relation']['publisher_name']}}</span>
                <tw-content-show   class = "tramsmit__content" info="topicDetailData['relation']['content']"></tw-content-show>
                <div>
                    <span class = "tramsmit__ptime">{{topicDetailData['relation']['ptime'] | startNow }}前</span>
                    <div class = "tramsmit_other_info">
                      <span>赞({{topicDetailData['relation']['support_sum']}}) </span>|
                      <span on-click="doTransmit(topicDetailData)" > 转发({{topicDetailData['relation']['tramsmit_sum']}}) |</span>
                      <span> 评论({{topicDetailData['relation']['comment_sum']}}) </span>|
                      <span ng-click="skipDetail(topicDetailData.relation.topicid)"> 详情</span>
                    </div>
                </div>
            </div>      




            <div>
                <span class = "communicateinfo__ptime">{{topicDetailData['ptime'] | startNow }}前</span>
                <div class = "topic-other-info">
                    <span ng-show="isMy"  ng-click="openConfirmDeleteC(topicDetailData.topicid)">删除 |</span>
                    <span ng-click="doSupport()">赞({{topicDetailData['support_sum']}}) </span>|
                    <span ng-click="doTransmit(topicDetailData)" ng-if="topicDetailData.topic_type==0 || topicDetailData.topic_type==3"> 转发({{topicDetailData['tramsmit_sum']}}) |</span>
                    <span ng-click="showDropComment()"> 评论({{topicDetailData['comment_sum']}}) </span>
                </div>
            </div>

            <tw-publish input-content="inputContent" toast-msg="toastMsg" t-remain-sum="tRemainSum"
                        toast-show = 'showOrNo' fans-info = "fans_info" do-comment="doComment()"></tw-publish>
        </div>





        <div class = "comments-head">
            <span>全部评论</span>
            <span>排序</span>
            <a >最近</a>
            <a>最火</a>
        </div>

        <hr/>

        <div>
            <div class="comments" ng-repeat="aitem in commentList" ng-controller="CommentsController">
                <img src="/avatar/{{aitem.comment_publisherid}}_50.jpg">
                <div class = "comment-info" >
                    <span class = "focus_name" ng-bind="aitem['publisher_name']" ng-click="skipToSummary(aitem.comment_publisherid)"></span>
                    <tw-content-show was='true' info="aitem.content" map = "mapKeyVal"></tw-content-show>
                    <div class = "comment-info-other">
                        <span class = "communicateinfo__ptime">{{aitem['ptime'] | startNow }}前</span>
                        <div class = "other_info">
                            <span ng-show="isMy"  ng-click="openConfirmDeleteC(aitem.comment_id,$index)">删除 |</span>
                            <span ng-click="doSupport()">赞({{aitem['support_sum']}}) </span>|
                            <span ng-click="showDoCommentAndAt(aitem['publisher_name'])"> 回复({{aitem['comment_sum']}}) </span>
                        </div>
                    </div>

                    <div  class = "comment-lists"  ng-show="showDiscuss" ng-controller="DiscussListController">
                        <div>
                            <div class ="comment-item" ng-repeat="bitem in discussList" ng-controller = "OneDiscussController" >
                                <img src="/avatar/{{bitem.comment_publisherid}}_50.jpg" >
                                <div class = "ccContent">
                                    <span class = "focus_name" ng-click="skipToSummary(bitem.comment_publisherid)" ng-bind="bitem['publisher_name']"></span>
                                    <tw-content-show  was='true' info="bitem['content']" map = "mapKeyVal"></tw-content-show>
                                    <div class = "ccContent-other">
                                        <span class = "communicateinfo__ptime">{{bitem['ptime'] | startNow }}前</span>
                                        <div class = "other_info">
                                            <span ng-show="isMy"  ng-click="openConfirmDeleteD(bitem.comment_id,$index)">删除 |</span>
                                            <span ng-click="doSupport(bitem['comment_id'])">赞({{bitem['support_sum']}}) </span>|
                                            <span ng-click="showDoCommentAndAt(bitem['publisher_name'])">  回复 </span>
                                        </div>
                                    </div>
                                </div>
                                <div style="clear:both">
                                </div>
                                <hr/>
                            </div>
                        </div>

                        <div class = "reply">
                            <div>
                                <a ng-click = "loadAll()" class="reply__loadAll">点击查看全部回复</a>
                                <a class="reply__saysome" ng-click="showDoCommentAndAt()">我也说两句</a>
                            </div>
                            <tw-publish input-content="inputContent" toast-msg="toastMsg" t-remain-sum="tRemainSum"
                                                    toast-show = 'showOrNo' do-comment="doComment()" ng-show="showReply"></tw-publish> 
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
                <hr/>
            </div>
            <div class="btn-loading tail_loading" ng-show="anyMore" ng-click="loadMore()" tw-loading-more>
                  <span class="btn-loading__caption">
                      点击加载更多...
                  </span>
              <span class="btn-loading__icon"></span>
            </div>
        </div>

    </div>

</div>

