<div class="account_ctn">
    <div class="progress_bar__step-{{step}}">
        <span class="progress_bar__tip-1">
            验证手机号码
        </span>
        <span class="progress_bar__tip-2">
            重置密码
        </span>
        <span class="progress_bar__tip-3">
            完成
        </span>
    </div>

    <h4 class="account_ctn__title">
        找回密码
    </h4>

    <form name="formStep1" novalidate ng-show="step === 1">
        <div class="row form_row">
            <div class="col-xs-2 text-right">
                <label>手机号</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control" 
                       name="number" 
                       type="text"
                       required
                       ng-model="phone.number"
                       ng-pattern="phone.numberReg"
                       ng-focus="hideErr('number')"
                       ng-blur="showErr('number')">
                <div ng-show="formErr.number">
                    <p class="form_row__bottom_alert" ng-show="formStep1.number.$error.required">
                        请输入手机号码
                    </p>
                    <p class="form_row__bottom_alert" ng-show="formStep1.number.$error.pattern">
                        输入的手机号码格式不正确
                    </p>
                    <p class="form_row__bottom_alert" ng-show="!phone.existence">
                        该手机号码尚未注册
                    </p>
                </div>
            </div>
        </div>

        <div class="row form_row">
            <div class="col-xs-2 text-right">
                <label>验证码</label>
            </div>
            <div class="col-xs-3">
                <input class="form-control" 
                       name="verifyCode"
                       type="text"
                       required
                       ng-model="phone.verifyCode"
                       ng-focus="hideErr('verifyCode')"
                       ng-blur="showErr('verifyCode')">
                <div ng-show="formErr.verifyCode">
                    <p class="form_row__bottom_alert" ng-show="formStep1.verifyCode.$error.required">
                        请输入验证码
                    </p>
                    <p class="form_row__bottom_alert" ng-show="!phone.correct">
                        验证码错误
                    </p>
                </div>
            </div>
            <div class="col-xs-2">
                <button class="verify_timer_btn" tw-verify-timer start-timer="startTimer"  verify-code-btn-clickable="verifyCodeBtnClickable" ng-disabled="!verifyCodeBtnClickable" ng-click="getVerifyCode()">
                </button>
            </div>
        </div>
        <div class="row mg-tp-30">
            <div class="col-xs-5 col-xs-offset-2">
                <button class="btn btn-danger" ng-click="submitFormStep1()">
                    下一步
                </button>
            </div>
        </div>
    </form>

    <form name="formStep2" novalidate ng-show="step === 2">
        <div class="row form_row">
            <div class="col-xs-2 text-right">
                <label>新密码</label>
            </div>
            <div class="col-xs-5">
                <input class="form-control"
                       name="newPwd" 
                       type="password"
                       required
                       ng-model="password.newPwd"
                       tw-pwd-valid
                       ng-focus="hideErr('newPwd')"
                       ng-blur="showErr('newPwd')">
                <div ng-show="formErr.newPwd">
                    <p class="form_row__bottom_alert" ng-show="formStep2.newPwd.$error.required">
                        请输入新密码
                    </p>
                    <p class="form_row__bottom_alert" ng-show="formStep2.newPwd.$error.twPwdValid">
                        6-15 个字符，可由大写字母，小写字母，数字，符号（有限制）组成，且至少包含其中2项
                    </p>
                </div>
            </div>
        </div>

        <div class="row form_row">
            <div class="col-xs-2 text-right">
                <label>确认密码</label>
            </div>
            <div class="col-xs-5">
               <input class="form-control" 
                       name="confirmPwd"
                       type="password"
                       required
                       ng-model="password.confirmPwd"
                       tw-confirm-pwd
                       password="password.newPwd"
                       ng-focus="hideErr('confirmPwd')"
                       ng-blur="showErr('confirmPwd')">
                <div ng-show="formErr.confirmPwd">
                    <p class="form_row__bottom_alert" ng-show="formStep2.confirmPwd.$error.required">
                        请再次输入新密码
                    </p>
                    <p class="form_row__bottom_alert" ng-show="formStep2.confirmPwd.$error.twConfirmPwd">
                        输入的新密码不正确
                    </p>
                </div>    
            </div>
        </div>
        <div class="row mg-tp-30">
            <div class="col-xs-5 col-xs-offset-2">
                <button class="btn btn-danger" ng-click="submitFormStep2()">
                    下一步
                </button>
            </div>
        </div>
    </form>

    <div class="row" ng-if="step === 3">
        <div class="col-xs-5 col-xs-offset-2 text-center">
            <h3>
                新密码设置成功！
            </h3>
            <p class="account_ctn__tip">
                注意：您的 MT4 客户端登陆密码也同时被修改为新密码
            </p>
            <a class="btn btn-danger" href="#/account/login">
                重新登录
            </a>
        </div>
    </div>

</div>