@include b(basic_setting) {

    @include e(portrait) {
        width: 150px;
        height: 150px;
        padding: 5px;
        border: 1px solid $brand-border-color;
    }

    @include e(change) {
        width: 150px;
        margin-top: 10px;
        padding: 6px !important;
    }
}

@include b(upload_avatar) {
    padding:  30px;  

    .close {
        margin-top: -15px;
    }

    .btn-primary {
        padding: 6px 50px;
        font-size: 16px;
        font-weight: 700;
    }

    .alert-danger {
        padding: 5px;
        margin-top: 10px;
    }

    @include e(container) {
        width: 500px;
        height: 350px;
        margin: 30px auto;
    }

    @include e(preview) {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        border: 1px solid $brand-border;
        overflow: hidden;
    }

    @include e(input) {
        display: none !important;
    }
}

@include b(basic_info_form) {
    position: relative;

    .row {
        margin-bottom: 20px;
    }

    h4 {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        color: $gray-light;
    }

    .btn-primary {
        float: right;
    }

    .alert-danger {
        margin-top: 5px;
        margin-bottom: 0;
        padding: 5px;

    }
}

@include b(succ_tip) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    padding: 6px 12px;
    border: 1px solid $brand-border;
    background-color: #fff;
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: $brand-primary;
}