@include b(setting_content) {
    min-height: 600px;
    padding: 0 30px;
    border: 1px solid $brand-border-color;
    background-color: $brand-white;

    label {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 700;
        color: $gray-light;
        line-height: 34px;
    }

    .btn-primary {
        padding: 6px 50px;
        font-size: 16px;
        font-weight: 700;
    }

    @include e(title) {
        margin: 50px 0px 30px;
        padding-bottom: 15px;
        border-bottom: 1px solid $brand-border-color;
    }

    @include e(verified) {
        float: right;
        margin-top: 60px;
        color: $brand-primary;
    }

    @include e(unverified) {
        @extend .setting_content__verified;
        color: $brand-red;
    }

    @include e(add) {
        @extend .setting_content__verified;
        margin-top: 50px;
        padding: 6px 12px;
        border: 1px dashed;
        font-size: 16px;
        font-weight: 700;

        &:hover {
            cursor: pointer;
        }
    }

    @include e(level) {
        @extend .setting_content__verified;
        color: $gray-light;

        span {
            font-weight: 700;
            color: $brand-red;
        }
    }
}

@include b(setting_modal) {

    .modal-header {
        padding: 25px 15px 0;
        border-bottom: none;
    }

    .modal-footer {
        padding: 0 0 25px;
        border-top: none;
        text-align: center;
    }

    .close {
        margin-right: 20px;
    }

    .btn-primary {
        padding: 6px 50px;
        font-size: 16px;
        font-weight: 700;
    }

    @include e(title) {
        margin: 0;
        padding: 0 20px 15px;
        border-bottom: 1px solid $brand-border-color;
        font-weight: 700;
    }

}

@include b(form_row) {
    margin-bottom: 20px;

    label {
        margin-bottom: 0;
        line-height: 34px;
    }

    .alert-danger {
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 0;
    }
}