@include b(account_safety) {

    ul li:nth-child(odd) {
        background-color: $gray-lightest;
    }
    
    @include b(safety_level) {
        float: right;
        font-size: 16px;
        color: $gray-light;

        @include e(low) {
            font-weight: 700;
            color: $brand-red;
        }

        @include e(medium) {
            font-weight: 700;
            color: $brand-yellow;
        }

        @include e(high) {
            font-weight: 700;
            color: $brand-red;
        }
    }

    @include b(safety_verify) {
        margin-right: 20px;
        line-height: 100px;
        font-size: 15px;
        font-weight: 700;

        @include e(finished) {
            color: $brand-green;
        }

        @include e(unfinished) {
            color: $gray-light;

            &:hover {
                cursor: pointer;
            }
        }
    }

    @include e(title) {
        line-height: 100px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
    }

    @include e(intro) {
        display: table;
        height: 100px;

        p {
            display: table-cell;
            vertical-align: middle;
        }
    }

    @include e(status) {

    }

    @include e(operate) {
        line-height: 100px;
        font-size: 15px;
        font-weight: 700;
        color: $brand-primary;

        &:hover {
            cursor: pointer;
        }
    }

    @include e(phone) {
        color: $brand-red;
    }

    @include e(email) {
        font-weight: 700;
        color: $gray-light;
    }
}

